@keyframes move-parchment-left {
    0%,
    100% {
        left: 0;
    }

    45%,
    55% {
        left: 41%;
    }
}

@keyframes move-parchment-right {
    0%,
    100% {
        right: 0;
    }

    45%,
    55% {
        right: 41%;
    }
}

@keyframes parchment-middle-1 {
    0%,
    100% {
        width: 21.625em;
        margin-left: -10.8125em;
        background-position: -2.375em -18.375em;
    }

    45%,
    55% {
        width: 0;
        margin-left: 0;
        background-position: -13.1875em -18.375em;
    }
}

@keyframes parchment-middle-2 {
    0%,
    100% {
        width: 43.25em;
        margin-left: -21.625em;
        background-position: -4.75em -36.75em;
    }

    45%,
    55% {
        width: 0;
        margin-left: 0;
        background-position: -26.375em -36.75em;
    }
}

@keyframes parchment-middle-3 {
    0%,
    100% {
        width: 64.875em;
        margin-left: -32.4375em;
        background-position: -7.125em -55.125em;
    }

    45%,
    55% {
        width: 0;
        margin-left: 0;
        background-position: -39.5625em -55.125em;
    }
}

@keyframes blink {
    50% {
        color: transparent;
    }
}

@keyframes animate-instructions {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -12em;
    }
}

@keyframes animate-instructions-click {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -6em;
    }
}
