div,
ul,
dialog,
article {
    display: flex;
    flex-direction: column;

    &[hidden] {
        display: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.25em;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.375em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.875em;
}

p {
    margin-bottom: 0.25em;
    font-size: 1em;
}
