@use 'sass:math';

@use '../abstracts/media';

@use 'impl/reset';
@use 'impl/fonts';
@use 'impl/animations';
@use 'impl/utils';
@use 'impl/defaults';

body,
button,
input {
    font-family: Monogram, 'AdvoCut Fallback', arial, sans-serif;

    h1,
    h2,
    h3 {
        font-family: Fibberish, Monogram, AdvoCut, arial, sans-serif;
    }
}

@each $size, $scale in media.$sizes {
    @media ($size) {
        body {
            font-size: 1em * $scale;
        }
    }
}
