{
    "root": true,
    "env": {
        "browser": true,
        "es2020": true,
        "node": true
    },
    "plugins": ["prettier", "@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "plugin:prettier/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType": "module"
    },
    "rules": {
        "prettier/prettier": "warn",
        "indent": [
            "error",
            4,
            {
                "ignoredNodes": ["ConditionalExpression"],
                "SwitchCase": 1
            }
        ],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "semi": ["error", "always"]
    },
    "ignorePatterns": ["node_modules/", "dist/", "**/*.min.*"]
}
