{
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "parser": "typescript",
    "requirePragma": false,
    "insertPragma": false,
    "proseWrap": "always",
    "htmlWhitespaceSensitivity": "strict",
    "endOfLine": "auto"
}
