{
    "arrowParens": "always",
    "bracketSpacing": true,
    "insertPragma": false,
    "jsxBracketSameLine": false,
    "printWidth": 100,
    "proseWrap": "preserve",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false
}
