{
    "defaultSeverity": "warning",
    "extends": [
        "stylelint-config-standard-scss",
        "stylelint-config-html/astro",
        "stylelint-config-clean-order",
        "stylelint-config-prettier"
    ]
}
