{
    "defaultSeverity": "warning",
    "extends": [
        "stylelint-config-standard-scss",
        "stylelint-config-html/astro",
        "stylelint-config-clean-order",
        "stylelint-config-prettier"
    ],
    "plugins": [
        "stylelint-rem-over-px"
    ],
    "rules": {
        "rem-over-px/rem-over-px": [
            true,
            {
                "ignoreAtRules": [
                    "custom-media"
                ]
            }
        ]
    }
}
