@use 'impl/abilities';
@use 'impl/achievements';
@use 'impl/action';
@use 'impl/attack';
@use 'impl/bank';
@use 'impl/book';
@use 'impl/bubbles';
@use 'impl/buttons';
@use 'impl/chat';
@use 'impl/container';
@use 'impl/crafting';
@use 'impl/dialog';
@use 'impl/enchant';
@use 'impl/equipments';
@use 'impl/friends';
@use 'impl/guilds';
@use 'impl/interact';
@use 'impl/inventory';
@use 'impl/joystick';
@use 'impl/leaderboards';
@use 'impl/lootbag';
@use 'impl/map';
@use 'impl/notifications';
@use 'impl/page';
@use 'impl/player';
@use 'impl/profile';
@use 'impl/quests';
@use 'impl/settings';
@use 'impl/skills';
@use 'impl/slice';
@use 'impl/store';
@use 'impl/trade';
@use 'impl/welcome';
@use 'impl/zoom';
@use 'impl/quest';
@use 'impl/inappstore';

body.game {
    background: #000;

    label,
    input[type],
    a {
        cursor: none;
    }

    #load-character,
    #create-character,
    #reset-password,
    #error {
        display: none;
    }

    #parchment {
        z-index: 0;
        transition:
            0.2s opacity linear 0.2s,
            z-index 0s linear 1s;
    }

    &.credits #credits,
    &.death #death,
    &.news #news,
    &.about #about,
    &.git #git {
        z-index: 1000;
        opacity: 1;
        transition: 0.5s opacity linear 0.5s;
    }

    &.credits,
    &.death,
    &.news,
    &.about,
    &.git {
        #parchment {
            z-index: 1000;
            opacity: 1;
            transition: 0.5s opacity linear 0s;
        }

        .parchment-left {
            left: 0;
        }

        .parchment-right {
            right: 0;
        }
    }

    #game-container {
        opacity: 1;
    }

    footer {
        display: none;
        color: #8a8a8a;
    }
}
