@-moz-keyframes parchleft {
    0% { left: 0; }
    45% { left: 41%; }
    55% { left: 41%; }
    100% { left: 0; }
}
@-webkit-keyframes parchleft {
    0% { left: 0; }
    45% { left: 41%; }
    55% { left: 41%; }
    100% { left: 0; }
}
@-o-keyframes parchleft {
    0% { left: 0; }
    45% { left: 41%; }
    55% { left: 41%; }
    100% { left: 0; }
}
@-ms-keyframes parchleft {
    0% { left: 0; }
    45% { left: 41%; }
    55% { left: 41%; }
    100% { left: 0; }
}
@-moz-keyframes parchright {
    0% {right: 0; }
    45% { right: 41%; }
    55% { right: 41%; }
    100% { right: 0; }
}
@-webkit-keyframes parchright {
    0% {right: 0; }
    45% { right: 41%; }
    55% { right: 41%; }
    100% { right: 0; }
}
@-o-keyframes parchright {
    0% {right: 0; }
    45% { right: 41%; }
    55% { right: 41%; }
    100% { right: 0; }
}
@-ms-keyframes parchright {
    0% {right: 0; }
    45% { right: 41%; }
    55% { right: 41%; }
    100% { right: 0; }
}

@-moz-keyframes parchmiddle3 {
    0% {
        width: 1038px;
        margin-left: -519px;
        background-position: -114px -882px;
    }
    45% {
        width: 0;
        margin-left: 0;
        background-position: -633px -882px;
    }
    55% {
        width: 0;
        margin-left: 0;
        background-position: -633px -882px;
    }
    100% {
        width: 1038px;
        margin-left: -519px;
        background-position: -114px -882px;
    }
}
@-webkit-keyframes parchmiddle3 {
    0% {
        width: 1038px;
        margin-left: -519px;
        background-position: -114px -882px;
    }
    45% {
        width: 0;
        margin-left: 0;
        background-position: -633px -882px;
    }
    55% {
        width: 0;
        margin-left: 0;
        background-position: -633px -882px;
    }
    100% {
        width: 1038px;
        margin-left: -519px;
        background-position: -114px -882px;
    }
}
@-o-keyframes parchmiddle3 {
    0% {
        width: 1038px;
        margin-left: -519px;
        background-position: -114px -882px;
    }
    45% {
        width:0;
        margin-left:0;
        background-position: -633px -882px;
    }
    55% {
        width:0;
        margin-left:0;
        background-position: -633px -882px;
    }
    100% {
        width: 1038px;
        margin-left: -519px;
        background-position: -114px -882px;
    }
}
@-ms-keyframes parchmiddle3 {
    0% {
        width: 1038px;
        margin-left: -519px;
        background-position: -114px -882px;
    }
    45% {
        width: 0;
        margin-left: 0;
        background-position: -633px -882px;
    }
    55% {
        width: 0;
        margin-left: 0;
        background-position: -633px -882px;
    }
    100% {
        width: 1038px;
        margin-left:  -519px;
        background-position: -114px -882px;
    }
}
@-moz-keyframes parchmiddle2 {
    0% {
        width: 692px;
        margin-left: -346px;
        background-position:-76px -588px;
    }
    45% {
        width: 0;
        margin-left: 0;
        background-position: -422px -588px;
    }
    55% {
        width: 0;
        margin-left: 0;
        background-position: -422px -588px;
    }
    100% {
        width: 692px;
        margin-left: -346px;
        background-position: -76px -588px;
    }
}
@-webkit-keyframes parchmiddle2 {
    0% {
        width: 692px;
        margin-left: -346px;
        background-position: -76px -588px;
    }
    45% {
        width: 0;
        margin-left: 0;
        background-position: -422px -588px;
    }
    55% {
        width: 0;
        margin-left: 0;
        background-position: -422px -588px;
    }
    100% {
        width: 692px;
        margin-left: -346px;
        background-position: -76px -588px;
    }
}
@-o-keyframes parchmiddle2 {
    0% {
        width: 692px;
        margin-left: -346px;
        background-position: -76px -588px;
    }
    45% {
        width: 0;
        margin-left: 0;
        background-position: -422px -588px;
    }
    55% {
        width: 0;
        margin-left: 0;
        background-position: -422px -588px;
    }
    100% {
        width: 692px;
        margin-left: -346px;
        background-position: -76px -588px;
    }
}
@-ms-keyframes parchmiddle2 {
    0% {
        width: 692px;
        margin-left: -346px;
        background-position: -76px -588px;
    }
    45% {
        width: 0;
        margin-left: 0;
        background-position: -422px -588px;
    }
    55% {
        width: 0;
        margin-left: 0;
        background-position: -422px -588px;
    }
    100% {
        width: 692px;
        margin-left: -346px;
        background-position: -76px -588px;
    }
}
@-moz-keyframes parchmiddle1 {
    0% {
        width: 346px;
        margin-left: -173px;
        background-position: -38px -294px;
    }
    45% {
        width: 0;
        margin-left: 0;
        background-position: -211px -294px;
    }
    55% {
        width: 0;
        margin-left: 0;
        background-position: -211px -294px;
    }
    100% {
        width: 346px;
        margin-left: -173px;
        background-position: -38px -294px;
    }
}
@-webkit-keyframes parchmiddle1 {
    0% {
        width: 346px;
        margin-left: -173px;
        background-position: -38px -294px;
    }
    45% {
        width: 0;
        margin-left: 0;
        background-position: -211px -294px;
    }
    55% {
        width: 0;
        margin-left: 0;
        background-position: -211px -294px;
    }
    100% {
        width: 346px;
        margin-left: -173px;
        background-position: -38px -294px;
    }
}
@-o-keyframes parchmiddle1 {
    0% {
        width: 346px;
        margin-left: -173px;
        background-position: -38px -294px;
    }
    45% {
        width: 0;
        margin-left: 0;
        background-position: -211px -294px;
    }
    55% {
        width: 0;
        margin-left: 0;
        background-position: -211px -294px;
    }
    100% {
        width: 346px;
        margin-left: -173px;
        background-position: -38px -294px;
    }
}
@-ms-keyframes parchmiddle1 {
    0% {
        width: 346px;
        margin-left: -173px;
        background-position:-38px -294px;
    }
    45% {
        width: 0;
        margin-left: 0;
        background-position: -211px -294px;
    }
    55% {
        width: 0;
        margin-left: 0;
        background-position: -211px -294px;
    }
    100% {
        width: 346px;
        margin-left: -173px;
        background-position:-38px -294px;
    }
}

@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }