
body.game {
    background: #000;
}

.game #loadCharacter, .game #createCharacter, .game #error {
    display: none;
}

.game #parchment {
    z-index: 0;
    -webkit-transition: 0.5s opacity linear 0.5s, z-index 0s linear 1s;
    transition: 0.5s opacity linear 0.5s, z-index 0s linear 1s;
    top: 50%;
}

.game #credits, .game #death, .game #ask, .game #about, .game #git {
    opacity: 0;
    -webkit-transition: 0s opacity linear 0s;
    transition: 0s opacity linear 0s;
    z-index: 1000;
}

.game.credits #credits, .game.death #death, .game.ask #ask, .game.about #about, .game.git #git {
    opacity: 1;
    -webkit-transition: 0.5s opacity linear 0.5s;
    transition: 0.5s opacity linear 0.5s;
    z-index: 1000;
}

.game.credits #parchment, .game.death #parchment, .game.ask #parchment, .game.about #parchment, .game.git #parchment {
    opacity: 1;
    -webkit-transition: 0.5s opacity linear 0s;
    transition: 0.5s opacity linear 0s;
    z-index: 1000;
}

.game .parchment-left {
    -webkit-transition: 0.5s left ease-in-out;
    transition: 0.5s left ease-in-out;
    left: 41%;
}
.game .parchment-right {
    -webkit-transition: 0.5s right ease-in-out;
    transition: 0.5s right ease-in-out;
    right: 41%;
}
.game .parchment-middle {
    -webkit-transition: 0.5s width ease-in-out, 0.5s margin-left ease-in-out, 0.5s background-position ease-in-out;
    transition: 0.5s width ease-in-out, 0.5s margin-left ease-in-out, 0.5s background-position ease-in-out;
    width: 0;
    margin-left: 0;
}

.game.credits .parchment-left, .game.death .parchment-left, .game.ask .parchment-left, .game.about .parchment-left, .game.git .parchment-left {
    left: 0;
}

.game.credits .parchment-right, .game.death .parchment-right, .game.death .parchment-right, .game.ask .parchment-right, .game.about .parchment-right, .game.git .parchment-right {
    right: 0;
}

.game #container {
    opacity: 1;
}

#worlds-switch {
    bottom: 5px;
    left: 5px;
    display: none;
    position: fixed;
    padding: 0.5em 1em;
    color: white;
    cursor: pointer;
    font-size: 0.75em;
    border: 1px solid #555;
    border-radius: 5px;
    background: #d83a39;
}

#current-world-count {
    font-size: 0.75em;
}
#current-world-id {
    opacity: 0.8;
    font-size: 0.75em;
    text-align: justify;
}

#worlds-popup {
  display: none;
  z-index: 1;
  bottom: 125%;
  left: 62.5%;
  background-color: #555;
  color: #fff;
  text-align: justify;
  border-radius: 6px;
  padding: 12px;
  position: absolute;
  margin-left: -80px;
}
#worlds-popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 33%;
  margin-left: -25px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#worlds-popup > table th {
    border-bottom: 2px solid #eee;
}
#worlds-popup > table td {
    padding: 12px 24px 10px 16px;
    border-left: 2px solid #fff;
}
#worlds-popup > table tr:hover {
    background: #333a;
}
#worlds-popup > table tr:hover:::after {
    content: "Join";
}

@media only screen and (min-width: 1501px) {

    .game .parchment-middle {
        background-position: -633px -882px;
    }

    .game.credits .parchment-middle, .game.death .parchment-middle, .game.ask .parchment-middle, .game.git .parchment-middle, .game.about .parchment-middle {
        width: 1038px;
        margin-left: -519px;
        background-position: -114px -882px;
    }

}
