body.game {
    background: #000;
}

.game #loadCharacter, .game #createCharacter, .game #error {
    display: none;
}

.game #parchment {
    z-index: 0;
    -moz-transition: 0.5s opacity linear 0.5s, z-index 0s linear 1s;
    -o-transition: 0.5s opacity linear 0.5s, z-index 0s linear 1s;
    -webkit-transition: 0.5s opacity linear 0.5s, z-index 0s linear 1s;
    transition: 0.5s opacity linear 0.5s, z-index 0s linear 1s;
    top: 50%;
}

.game #credits, .game #death, .game #ask, .game #about, .game #git {
    opacity: 0;
    -moz-transition: 0s opacity linear 0s;
    -o-transition: 0s opacity linear 0s;
    -webkit-transition: 0s opacity linear 0s;
    transition: 0s opacity linear 0s;
    z-index: 1000;
}

.game.credits #credits, .game.death #death, .game.ask #ask, .game.about #about, .game.git #git {
    opacity: 1;
    -moz-transition: 0.5s opacity linear 0.5s;
    -o-transition: 0.5s opacity linear 0.5s;
    -webkit-transition: 0.5s opacity linear 0.5s;
    transition: 0.5s opacity linear 0.5s;
    z-index: 1000;
}

.game.credits #parchment, .game.death #parchment, .game.ask #parchment, .game.about #parchment, .game.git #parchment {
    opacity: 1;
    -moz-transition: 0.5s opacity linear 0s;
    -o-transition: 0.5s opacity linear 0s;
    -webkit-transition: 0.5s opacity linear 0s;
    transition: 0.5s opacity linear 0s;
    z-index: 1000;
}

.game .parchment-left {
    -moz-transition: 0.5s left ease-in-out;
    -webkit-transition: 0.5s left ease-in-out;
    -o-transition: 0.5s left ease-in-out;
    transition: 0.5s left ease-in-out;
    left: 41%;
}
.game .parchment-right {
    -moz-transition: 0.5s right ease-in-out;
    -webkit-transition: 0.5s right ease-in-out;
    -o-transition: 0.5s right ease-in-out;
    transition: 0.5s right ease-in-out;
    right: 41%;
}
.game .parchment-middle {
    -moz-transition: 0.5s width ease-in-out, 0.5s margin-left ease-in-out, 0.5s background-position ease-in-out;
    -webkit-transition: 0.5s width ease-in-out, 0.5s margin-left ease-in-out, 0.5s background-position ease-in-out;
    -o-transition: 0.5s width ease-in-out, 0.5s margin-left ease-in-out, 0.5s background-position ease-in-out;
    transition: 0.5s width ease-in-out, 0.5s margin-left ease-in-out, 0.5s background-position ease-in-out;
    width: 0;
    margin-left: 0;
}

.game.credits .parchment-left, .game.death .parchment-left, .game.ask .parchment-left, .game.about .parchment-left, .game.git .parchment-left {
    left: 0;
}

.game.credits .parchment-right, .game.death .parchment-right, .game.death .parchment-right, .game.ask .parchment-right, .game.about .parchment-right, .game.git .parchment-right {
    right: 0;
}

.game #container {
    opacity: 1;
}

.started #canvas {
    cursor: none;
}

@media only screen and (min-width: 1501px) {
    
    .game .parchment-middle {
        background-position: -633px -882px;
    }
    
    .game.credits .parchment-middle, .game.death .parchment-middle, .game.ask .parchment-middle, .game.git .parchment-middle, .game.about .parchment-middle {
        width: 1038px;
        margin-left: -519px;
        background-position: -114px -882px;
    }
    
}

@media only screen and (max-width: 1500px), only screen and (max-height: 870px) {

    
}

@media only screen and (max-width: 1000px) {
    .started #canvas {
        cursor: default;
    }
}