
body.game {
    background: #000;
}

.game {
    #loadCharacter,
    #createCharacter,
    #error {
        display: none;
    }

    #parchment {
        z-index: 0;
        transition: 0.5s opacity linear 0.5s, z-index 0s linear 1s;
        top: 50%;
    }

    #credits,
    #death,
    #ask,
    #about,
    #git {
        opacity: 0;
        transition: 0s opacity linear 0s;
        z-index: 1000;
    }

    &.credits #credits,
    &.death #death,
    &.ask #ask,
    &.about #about,
    &.git #git {
        opacity: 1;
        transition: 0.5s opacity linear 0.5s;
        z-index: 1000;
    }

    &.credits #parchment,
    &.death #parchment,
    &.ask #parchment,
    &.about #parchment,
    &.git #parchment {
        opacity: 1;
        transition: 0.5s opacity linear 0s;
        z-index: 1000;
    }

    .parchment-left {
        transition: 0.5s left ease-in-out;
        left: 41%;
    }

    .parchment-right {
        transition: 0.5s right ease-in-out;
        right: 41%;
    }

    .parchment-middle {
        transition: 0.5s width ease-in-out, 0.5s margin-left ease-in-out, 0.5s background-position ease-in-out;
        width: 0;
        margin-left: 0;
    }

    &.credits .parchment-left,
    &.death .parchment-left,
    &.ask .parchment-left,
    &.about .parchment-left,
    &.git .parchment-left {
        left: 0;
    }

    &.credits .parchment-right,
    &.death .parchment-right,
    &.ask .parchment-right,
    &.about .parchment-right,
    &.git .parchment-right {
        right: 0;
    }

    #container {
        opacity: 1;
    }
}

@media only screen and (--lg) {
    .game {
        .parchment-middle {
            background-position: -633px -882px;
        }

        &.credits .parchment-middle,
        &.death .parchment-middle,
        &.ask .parchment-middle,
        &.git .parchment-middle,
        &.about .parchment-middle {
            width: 1038px;
            margin-left: -519px;
            background-position: -114px -882px;
        }
    }
}
