@use 'media';

#buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(0 0 0 / 0%);
    cursor: default;

    ul {
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style-type: none;
        float: right;

        li {
            float: left;
        }
    }
}

#notify,
#confirm {
    position: absolute;
    left: 35%;
    top: 45%;
    display: none;
    pointer-events: auto;
}

#exclamation,
#question {
    left: 10%;
    top: 30%;
}

.done {
    position: absolute;
    left: 85%;
    top: 70%;
}

#cancel {
    position: absolute;
    left: 70%;
    top: 70%;
}

#inventory {
    background-color: rgb(0 0 0 / 30%);
    position: absolute;
    right: 5px;
    bottom: 50px;
    display: none;
    cursor: default;

    ul {
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            float: left;
        }
    }
}

.item-slot {
    background-color: rgb(0 0 0 / 50%);
}

.item-count,
.inventory-item-count {
    font-family: AdvoCut, sans-serif;
    color: rgb(255 255 255 / 100%);
}

#action-container {
    background-color: rgb(0 0 0 / 10%);
    position: absolute;
    display: none;
    cursor: hand;
}

.action-button {
    width: 128px;
    height: 32px;
    font-size: 20px;
    background-color: rgb(0 0 0 / 30%);
    border: 1px solid #707070;
    font-family: AdvoCut, sans-serif;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    color: #c6c0a3;
    cursor: pointer;

    &:hover {
        background-color: rgb(0 0 0 / 40%);
        color: #fff;
        cursor: pointer;
    }

    &:active {
        background-color: rgb(0 0 0 / 50%);
        color: #fcda5c;
        cursor: pointer;
    }
}

#drop-dialog {
    font-family: AdvoCut, sans-serif;
    font-size: 16px;
    color: #e3e3e3;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-right: -28px;
    padding: 5px;
    background-color: rgb(45 45 45 / 80%);
    border-radius: 6px;
    display: none;
}

#drop-count {
    font-family: AdvoCut, sans-serif;
}

#drop-dialog.active {
    display: block;
}

#drop-title {
    text-align: center;
    margin-bottom: 10px;
}

#drop-accept,
#drop-cancel {
    background-color: rgb(120 120 120 / 30%);
    cursor: pointer;
    font-size: 18px;

    &:hover {
        background-color: rgb(120 120 120 / 40%);
    }

    &:active {
        background-color: rgb(120 120 120 / 40%);
        color: #fcda5c;
    }
}

#profile-dialog,
#settings-page {
    right: 0;
    bottom: 45px;
    display: none;
    position: absolute;
    user-select: none;
    cursor: default;
}

#navigator {
    position: absolute;
    top: 89%;
    left: 37%;
}

#sliders {
    position: absolute;
    float: right;
    right: 10%;
    top: 15%;
}

#texts {
    font-family: AdvoCut, sans-serif;
    position: absolute;
    float: left;
    left: 10%;
    top: 15%;
}

.check {
    top: 100%;
    padding-left: 1em;
    display: block;
    text-align: left;
    position: absolute;
    cursor: pointer;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: -1.5px;
        left: 0;
        height: 16px;
        width: 16px;
    }
}

#info {
    position: absolute;
    width: 100%;
    height: 8%;
    top: 78%;
    text-align: center;
}

#check-marks {
    position: absolute;
    float: right;
    right: 10%;
    top: 41%;
}

#volume,
#sfx,
#brightness {
    position: absolute;
}

#sound-check,
#camera-check,
#debug-check,
#centre-check,
#name-check,
#level-check {
    left: 50%;
}

#attack-info {
    display: none;
    position: absolute;
    left: 40%;
    background-color: rgb(0 0 0 / 50%);

    .name,
    .health {
        position: absolute;
        text-align: center;
        font-family: AdvoCut, sans-serif;
        color: white;
    }

    .name {
        width: 100%;
        overflow: hidden;
    }

    .details {
        overflow: hidden;
        text-align: center;
        font-family: AdvoCut, sans-serif;
        color: white;
        width: 100%;
    }

    .health {
        width: 90%;
        left: 5%;
        overflow: hidden;
    }
}

#bank {
    display: none;
    position: absolute;
    top: 20%;
    left: 25%;
    cursor: default;
}

#bank-container {
    float: right;
}

#bank-inventory-container,
#enchant-container {
    float: left;
}

#bank-slot {
    position: absolute;
    top: 9%;
}

.inventory-slots {
    position: absolute;
    top: 13%;
    left: 6%;
}

#shop-inventory-slots {
    left: 14%;
}

#enchant-inventory-slots {
    left: 13%;
}

.bank-slot {
    float: left;
}

.bank-image {
    width: 100%;
    height: 100%;
    background-size: 600%;
}

#enchant {
    position: absolute;
    display: none;
    cursor: default;
    top: 50%;
    left: 50%;
}

#trade {
    position: absolute;
    display: none;
    top: 10%;
    left: 20%;
}

#trade-player-container,
#trade-o-player-container {
    position: relative;
    float: left;
    top: 24%;
}

#trade-player-container {
    left: 5%;
}

#trade-o-player-container {
    left: 12.5%;
}

#enchant-selected-item,
#enchant-shards {
    position: absolute;
    top: 80%;
    background-size: 600%;
}

#enchant-selected-item {
    left: 11%;
}

#enchant-shards {
    left: 34%;
}

.close {
    position: absolute;
    left: 92%;
    top: -3%;
}

.ok {
    position: absolute;
}

#message {
    position: absolute;
    font-family: AdvoCut, sans-serif;
    left: 42%;
    top: 48%;
    pointer-events: none;
}

.fade {
    display: none;
    position: absolute;
    background-color: rgb(0 0 0 / 30%);
    width: 100%;
    height: 98%;
    top: 0;
    left: 0;
}

.skill-slots {
    position: relative;
    float: left;
}

#quest-list {
    position: absolute;
    top: 50%;
    left: 8%;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0;
    background-color: transparent; // Make scrollbar transparent
}

#achievement-list,
#professions-list {
    position: absolute;
    top: 6%;
    left: 8%;
    overflow: auto;
}

#ability-shortcut ul {
    overflow: hidden;
    padding: 0;
    list-style-type: none;
    width: 128%;
    margin-left: 7%;

    li {
        float: left;
        margin-top: 1%;
        margin-right: 4%;
    }
}

.quest-item,
.profession-item {
    font-family: AdvoCut, sans-serif;
    width: 100%;
    height: 10%;
}

.quest-name,
.profession-name {
    width: 98%;
    text-align: center;
    float: left;
    border: 2px solid #373737;
    margin-top: 3px;
    color: white;
    z-index: 1;
    background-color: rgb(51 153 255 / 40%);
    font-size: 22px;
}

#achievement-count,
#quest-count {
    float: right;
    right: 3%;
    position: absolute;
    color: white;
    font-family: AdvoCut, sans-serif;
    text-align: center;
}

#achievement-count {
    top: 1%;
}

#quest-count {
    top: 45.5%;
}

#map-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    pointer-events: auto;
    display: none;
    cursor: default;
    z-index: 100;
}

.map-button {
    position: absolute;
    background-position-y: 0;
}

#close-map-frame {
    top: 0;
    left: 95%;
}

.warp-button {
    position: absolute;
}

#shop {
    position: absolute;
    display: none;
    top: 17%;
    left: 50%;
    cursor: default;
}

#shop-inventory-container {
    position: absolute;
    top: 0;
    right: 100%;
}

#shop-container {
    overflow-y: scroll;
    position: absolute;
    font-family: AdvoCut, sans-serif;
    top: 8%;
    width: 85%;
    height: 80%;
    left: 8%;

    ul li {
        padding-bottom: 5px;
    }
}

.shop-item {
    display: inline-flex;
    width: 98%;
    height: 5%;
    border: 3px solid rgb(255 255 0 / 30%);
    border-radius: 10px;
}

.shop-item-image {
    width: 32px;
    height: 32px;
    border: 2px solid rgb(0 0 255 / 30%);
    transform: scale(0.9);
    border-radius: 100%;
    background-size: 600%;
}

.shop-item-name,
.shop-item-count,
.shop-item-price,
.shop-item-buy {
    position: absolute;
    padding-top: 2%;
    font-size: 12px;
    float: left;
}

.shop-item-name {
    left: 20%;
}

.shop-item-count {
    left: 55%;
}

.shop-item-price {
    left: 65%;
}

.shop-item-buy {
    position: relative;
    border: 2px solid rgb(0 255 0 / 30%);
    border-radius: 30%;
    left: 75%;

    &:hover {
        color: white;
        cursor: pointer;
    }
}

#player-info {
    position: absolute;
    top: 10px;
    left: 10px;
}

#health-bar-text {
    vertical-align: middle;
    text-align: center;
    font-family: AdvoCut, sans-serif;
}

.profile-info {
    position: absolute;
    width: 92px;
    height: 12px;
    line-height: 12px;
    font-family: AdvoCut, sans-serif;
    font-size: 6px;
    font-weight: bold;
    text-shadow: 1px 1px #808080;
    text-align: center;
    left: 24px;
}

.profile-item-info {
    position: absolute;
    font-family: AdvoCut, sans-serif;
    font-size: 12px;
    font-weight: bold;
    pointer-events: none;
}

#armour-slot-info {
    text-align: right;
}

#shop-sell-slot-return-text,
#shop-sell-slot-text,
#shards-count {
    color: black;
}

#confirm-enchant,
#confirm-sell {
    top: 80%;
    left: 70%;
}

#worlds-switch {
    bottom: 5px;
    left: 5px;
    z-index: 2;
    display: none;
    position: fixed;
    padding: 0.5em 1em;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-family: AdvoCut, sans-serif;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #d83a39;
}

#current-world-count {
    font-size: 0.75em;
}

#current-world-id {
    opacity: 0.8;
    font-size: 0.75em;
    text-align: justify;
}

#worlds-popup {
    display: none;
    cursor: default;
    bottom: 125%;
    left: 50%;
    background-color: #555;
    color: #fff;
    text-align: justify;
    border-radius: 6px;
    padding: 12px;
    position: absolute;
    margin-left: -80px;

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 33%;
        margin-left: -25px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent;
    }

    > table {
        th {
            border-bottom: 2px solid #eee;
        }

        td {
            padding: 12px 24px 10px 16px;
            border-left: 2px solid #fff;
        }
    }
}

.server-list {
    cursor: pointer;

    &:hover {
        background-color: #333a;
    }

    &.active {
        color: #fcda5c;
        background-color: #333;
    }
}

#notification {
    position: absolute;
    opacity: 0.8;
    top: 100%;
    left: 50%;
    pointer-events: none;
    transition: 0.7s top ease;
}

#notification-text-title {
    position: relative;
    top: 25%;
    font-family: AdvoCut, sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px #0e0a00;
    text-align: center;
    color: #45ebfc;
}

#notification-text-description {
    position: relative;
    top: 25%;
    font-family: AdvoCut, sans-serif;
    font-size: 14px;
    text-shadow: 2px 2px #0e0a00;
    text-align: center;
    color: white;
    margin-top: 10px;
}

#chat-button,
#inventory-button,
#profile-button,
#settings-button,
#warp-button {
    position: relative;
    width: 42px;
    height: 45px;
    background: url('/img/3/main.png') no-repeat;
    background-position-y: -942px;
}

#chat-button {
    background-position: -588px -987px;

    &:hover {
        background-position-x: -630px;
    }

    &.active {
        background-position-x: -672px;
    }
}

#inventory-button {
    background-position-x: -588px;

    &:hover {
        background-position-x: -630px;
    }

    &.active {
        background-position-x: -672px;
    }
}

#profile-button {
    background-position-x: -714px;

    &:hover {
        background-position-x: -756px;
    }

    &.active {
        background-position-x: -798px;
    }
}

#settings-button {
    background-position-x: -1218px;

    &:hover {
        background-position-x: -1260px;
    }

    &.active {
        background-position-x: -1302px;
    }
}

#warp-button {
    background-position-x: -966px;

    &:hover {
        background-position-x: -1008px;
    }

    &.active {
        background-position-x: -1050px;
    }
}

@each $size, $i in media.$sizes {
    @media ($size) {
        #notification {
            width: 216px * $i;
            height: 34px * $i;
            background: url('/img/#{$i}/spritesheet.png') no-repeat;
            margin-left: -108px * $i;
        }

        #question,
        #exclamation {
            position: relative;
            width: 15px * $i;
            height: 16px * $i;
            display: block;
        }

        #question {
            background: url('/img/#{$i}/containers.png') -349px * $i -47px * $i;
        }

        #exclamation {
            background: url('/img/#{$i}/containers.png') -334px * $i -47px * $i;
        }

        #ability-shortcut {
            width: 122px * $i;
            height: 20px * $i;
            top: 240px * $i;
            background-image: url('/img/#{$i}/skillslots.png');
        }

        #action-container {
            width: 64px * $i;
            height: 32px * $i;
        }

        .action-button {
            border-radius: 3px * $i;
            border-width: 1px * $i;
        }

        #state-page {
            background: url('/img/#{$i}/characterdialogsheet.png') 0 0;
            display: block;
        }

        #skill-page {
            background: url('/img/#{$i}/characterdialogsheet.png') -124px * $i 0;
            display: none;
        }

        #settings-page {
            background: url('/img/#{$i}/characterdialogsheet.png') -248px * $i 0;
            display: none;
        }

        #quest-page {
            background: url('/img/#{$i}/characterdialogsheet.png') -372px * $i 0;
            display: none;
        }

        #guild-page {
            background: url('/img/#{$i}/characterdialogsheet.png') -496px * $i 0;
            display: none;
        }

        #professions-page {
            background: url('/img/#{$i}/characterdialogsheet.png') -248px * $i -217px * $i;
            display: none;
        }

        #profile-dialog,
        .page {
            width: 124px * $i;
            height: 217px * $i;
            position: absolute;
        }

        .profile-slot {
            background-position: 0 0;
            position: absolute;
            width: 16px * $i;
            height: 15px * $i;
        }

        .profile-info {
            position: absolute;
            width: 92px * $i;
            height: 12px * $i;
            line-height: 12px * $i;
            font-family: AdvoCut, sans-serif;
            font-size: 6px * $i;
            font-weight: bold;
            text-shadow: 1px 1px #808080;
            text-align: center;
            left: 24px * $i;
        }

        #weapon-slot-info {
            top: 123px * $i;
            left: 22px * $i;
        }

        #armour-slot-info {
            width: 102px * $i;
            top: 123px * $i;
            text-align: right;
        }

        #weapon-slot {
            left: 4px * $i;
            top: 120px * $i;
        }

        #armour-slot {
            left: 104px * $i;
            top: 119px * $i;
        }

        #pendant-slot {
            left: 54px * $i;
            top: 78px * $i;
        }

        #ring-slot {
            left: 27px * $i;
            top: 172px * $i;
        }

        #boots-slot {
            left: 82px * $i;
            top: 173px * $i;
        }

        #profile-name {
            top: 8px * $i;
        }

        #profile-level {
            top: 29px * $i;
        }

        #profile-experience {
            top: 50px * $i;
        }

        #sliders {
            width: 40px * $i;
            height: 30px * $i;
        }

        #volume {
            top: 1px * $i;
        }

        #sfx {
            top: 20px * $i;
        }

        #brightness {
            top: 41px * $i;
        }

        #check-marks {
            width: 40px * $i;
            height: 120px * $i;
        }

        #navigator {
            width: 42px * $i;
            height: 17px * $i;
        }

        #previous,
        #next {
            background-image: url('/img/#{$i}/characterdialogsheet.png');
            position: absolute;
            left: initial;
            top: 0;
            width: 21px * $i;
            height: 17px * $i;
        }

        #previous {
            left: 0;
            background-position: 0 -223px * $i;

            &.enabled {
                background-position: 0 -240px * $i;
                cursor: pointer;
            }
        }

        #next {
            left: 21px * $i;
            background-position: -21px * $i -240px * $i;

            &.enabled {
                background-position: -21px * $i -223px * $i;
                cursor: pointer;
            }
        }

        #texts {
            width: 60px * $i;
            height: 100px * $i;
            font-size: 8px * $i;

            p {
                margin-bottom: 12px * $i;
            }
        }

        .check {
            .checkmark {
                width: 8px * $i;
                height: 8px * $i;
                background: url('/img/#{$i}/characterdialogsheet.png') -109px * $i -240px * $i;
            }

            &:hover input ~ .checkmark,
            input:focus ~ .checkmark {
                background-position-x: -118px * $i;
            }

            input:active ~ .checkmark {
                background-position-x: -127px * $i;
            }

            input:checked ~ .checkmark {
                background-position-x: -136px * $i;
            }

            &:hover input:checked ~ .checkmark,
            input:focus:checked ~ .checkmark {
                background-position-x: -145px * $i;
            }
        }

        #sound-check {
            top: 3px * $i;
        }

        #camera-check {
            top: 23px * $i;
        }

        #debug-check {
            top: 44px * $i;
        }

        #centre-check {
            top: 62px * $i;
        }

        #name-check {
            top: 82px * $i;
        }

        #level-check {
            top: 102px * $i;
        }

        #attack-info {
            width: 100px * $i;
            height: 25px * $i;
            top: 0;
            border-bottom-left-radius: 8px * $i;
            border-bottom-right-radius: 8px * $i;
            border: 2px * $i solid #373737;

            .details {
                margin-top: 9px * $i;
            }

            .health {
                height: 6px * $i;
                border: 1px * $i solid #373737;
                border-radius: 2px * $i;
                background-color: red;
                transition: 0.5s width ease;
            }
        }

        #warp1 {
            top: 40px * $i;
            left: 120px * $i;
            background: url('/img/#{$i}/mapicons.png') 0 0;
        }

        #warp2 {
            top: 55px * $i;
            left: 25px * $i;
            background: url('/img/#{$i}/mapicons.png') 17px * $i 0;
        }

        #warp3 {
            top: 70px * $i;
            left: 175px * $i;
            background: url('/img/#{$i}/mapicons.png') 32px * $i 0;
        }

        #warp4 {
            top: 120px * $i;
            left: 135px * $i;
            background: url('/img/#{$i}/mapicons.png') 47px * $i 0;
        }

        #warp5 {
            top: 120px * $i;
            left: 75px * $i;
            background: url('/img/#{$i}/mapicons.png') 62px * $i 0;
        }

        #warp6 {
            top: 80px * $i;
            left: 90px * $i;
            background: url('/img/#{$i}/mapicons.png') 77px * $i 0;
        }

        #warp1,
        #warp2,
        #warp3,
        #warp4,
        #warp5,
        #warp6 {
            &:hover {
                background-position-y: -20px * $i;
            }

            &.active {
                background-position-y: -40px * $i;
            }
        }

        #bank {
            width: 300px * $i;
            height: 167px * $i;
        }

        #bank-container,
        #bank-inventory-container {
            background-image: url('/img/#{$i}/bank.png');
        }

        #enchant-container {
            background-image: url('/img/#{$i}/containers.png');
        }

        #bank-container {
            width: 171px * $i;
            height: 167px * $i;
            background-position: -132px * $i 0;
        }

        #bank-slot {
            width: 144px * $i;
            height: 120px * $i;
            left: 143px * $i;
        }

        #bank-inventory-container,
        #enchant-container {
            width: 129px * $i;
            height: 127px * $i;
            background-position: 0 0;
        }

        .inventory-slots {
            width: 96px * $i;
            height: 80px * $i;
        }

        .bank-slot {
            width: 16px * $i;
            height: 15px * $i;
            background: url('/img/#{$i}/containers.png') -300px * $i -172px * $i;
        }

        #enchant {
            transform: scale(1.6);
            width: 129px * $i;
            height: 155px * $i;
            background: url('/img/#{$i}/containers.png') 0 0;
            margin-left: -64px * $i;
            margin-top: -77px * $i;
        }

        #enchant-selected-item,
        #enchant-shards {
            width: 16px * $i;
            height: 15px * $i;
        }

        #shards-count {
            width: 16px * $i;
        }

        #message {
            width: 120px * $i;
            height: 23px * $i;
        }

        #professions-list {
            width: 106px * $i;
            height: 179px * $i;
        }

        #achievement-count,
        #quest-count {
            font-size: 8px * $i;
            width: 30px * $i;
            height: 8px * $i;
        }

        #map-frame {
            width: 270px * $i;
            height: 180px * $i;
            background-image: url('/img/#{$i}/mapframe.png');
            margin-left: -135px * $i;
            margin-top: -90px * $i;
        }

        .map-button {
            width: 15px * $i;
            height: 16px * $i;
        }

        #shop {
            width: 170px * $i;
            height: 168px * $i;
            background: url('/img/#{$i}/containers.png') -129px * $i -22px * $i;
        }

        #shop-inventory-container {
            width: 129px * $i;
            height: 155px * $i;
            background: url('/img/#{$i}/containers.png') 0 0;
        }

        #shop-sell-slot,
        #shop-sell-slot-return {
            position: absolute;
            width: 16px * $i;
            height: 16px * $i;
            top: 123px * $i;
        }

        #shop-sell-slot {
            left: 14px * $i;
        }

        #shop-sell-slot-return {
            left: 44px * $i;
        }

        #shop-sell-slot-return-text,
        #shop-sell-slot-text,
        #shards-count {
            margin-top: 19px * $i;
        }
    }
}

@media (--lg) {
    #notification {
        margin-left: -344px;
    }

    #inventory {
        width: 288px;
        height: 303px;
        border: 3px solid #373737;
    }

    .item-slot {
        width: 48px;
        height: 48px;
        margin-left: 3px;
        margin-top: 3px;
        margin-bottom: 21px;
        border-radius: 9px;
        border: 3px solid #707070;

        &:hover {
            border: 3px solid #eee;
        }

        &:active {
            border: 3px solid #fcda5c;
        }
    }

    .item-count,
    .inventory-item-count {
        width: 48px;
        height: 21px;
        font-size: 18px;
        text-align: center;
        margin-left: 3px;
        margin-top: -21px;
    }

    .action-button {
        width: 192px;
        height: 48px;
    }

    #profile-dialog {
        bottom: 45px;
        right: 34px;
    }

    .profile-item-info {
        font-size: 24px;
    }

    .close {
        width: 48px;
        height: 48px;
        background: url('/img/3/containers.png') -96px -498px;

        &.active {
            background-position-x: -144px;
        }

        &:hover {
            background-position-x: -192px;
        }
    }

    .ok {
        width: 42px;
        height: 42px;
        background: url('/img/3/containers.png') -1143px -183px;

        &:hover {
            background-position-x: -1143px;
        }
    }

    #quest-list,
    #achievement-list {
        width: 318px;
        height: 246px;
    }

    .skill-slots {
        width: 48px;
        height: 48px;
    }

    .quest-name,
    .profession-name {
        border-radius: 12px;
    }

    .shop-item-name,
    .shop-item-count,
    .shop-item-price,
    .shop-item-buy {
        font-size: 16px;
    }

    #health {
        position: absolute;
        top: 4.5px;
        left: 30px;
        width: 230px;
        height: 26px;
        border: 0;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #health-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 264px;
        height: 39px;
        border: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        color: white;
        background-image: url('/img/3/main.png');
        background-position: 0 -834px;
    }

    #exp {
        position: absolute;
        top: 30px;
        left: 36px;
        width: 228px;
        height: 15px;
        border: 0;
        margin: 0;
        padding: 0;
    }

    #exp-bar {
        position: absolute;
        width: 228px;
        height: 15px;
        background-image: url('/img/3/main.png');
        background-position: 0 -873px;
        color: rgb(255 255 255 / 100%);
        top: 30px;
        left: 36px;
    }

    #health-bar-text {
        margin: 10px 0 0 30px;
        font-size: 18px;
    }
}

@media (--md) {
    #notification-text-title {
        font-size: 18px;
    }

    #notification-text-description {
        font-size: 12px;
    }

    #notify,
    #confirm {
        width: 333px;
        height: 94px;
        background: url('/img/2/containers.png') -601px 0;
    }

    .ok {
        width: 28px;
        height: 28px;
        background-position: -762px -122px;
    }

    .ok,
    .done {
        width: 27px;
        height: 14px;
        background: url('/img/2/containers.png') -642px -108px;

        &:hover {
            background-position: -642px -108px;
        }
    }

    #cancel {
        width: 40px;
        height: 14px;
        background: url('/img/2/containers.png') -601px -108px;

        &:hover,
        &:focus {
            background-position-y: -94px;
        }
    }

    #inventory {
        width: 192px;
        height: 202px;
        border: 2px solid #373737;
    }

    .item-slot {
        width: 32px;
        height: 32px;
        margin-left: 2px;
        margin-top: 2px;
        margin-bottom: 14px;
        border-radius: 3px;
        border: 2px solid #707070;

        &:hover,
        &.select {
            border: 2px solid #eee;
        }

        &:active {
            border: 2px solid #fcda5c;
        }
    }

    .item-count,
    .inventory-item-count {
        width: 32px;
        height: 14px;
        font-size: 12px;
        text-align: center;
        margin-left: 2px;
        margin-top: -14px;
    }

    #profile-dialog {
        bottom: 45px;
        right: 70px;
    }

    .profile-item-info {
        font-size: 18px;
    }

    #trade {
        width: 500px;
        height: 339px;
        background: url('/img/2/trade.png') 0 0;
    }

    #trade-player-container,
    #trade-o-player-container {
        width: 206px;
        height: 186px;
    }

    .close {
        width: 32px;
        height: 32px;
        background: url('/img/2/containers.png') -64px -332px;

        &.active {
            background-position-x: -96px;
        }

        &:hover {
            background-position-x: -128px;
        }
    }

    .ok:hover {
        background-position: -762px -94px;
    }

    #message {
        width: 240px;
        height: 46px;
    }

    #quest-list,
    #achievement-list {
        width: 212px;
        height: 164px;
    }

    .skill-slots {
        width: 32px;
        height: 32px;
        background-image: url('/img/2/skillicons.png');
    }

    .quest-name,
    .profession-name {
        font-size: 20px;
        border-radius: 8px;
    }

    #health {
        position: absolute;
        top: 3px;
        left: 20px;
        width: 154px;
        height: 20px;
        border: 0;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #health-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 176px;
        height: 26px;
        border: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        color: white;
        background-image: url('/img/2/main.png');
        background-position: 0 -556px;
    }

    #health-bar-text {
        margin: 5px 0 0 20px;
    }

    #exp {
        position: absolute;
        top: 20px;
        left: 24px;
        width: 152px;
        height: 9px;
        border: 0;
        margin: 0;
        padding: 0;
    }

    #exp-bar {
        position: absolute;
        width: 152px;
        height: 9px;
        background-image: url('/img/2/main.png');
        background-position: 0 -582px;
        color: rgb(255 255 255 / 100%);
        top: 20px;
        left: 24px;
    }
}

@media (--sm) {
    #notify,
    #confirm {
        width: 166px;
        height: 47px;
        background: url('/img/1/containers.png') -300px 0;
    }

    .ok,
    .done {
        left: 85%;
        top: 55%;
        width: 14px;
        height: 14px;
        background: url('/img/1/containers.png') -387px -79px;

        &:hover {
            background-position-y: -65px;
        }
    }

    #cancel {
        left: 75%;
        top: 55%;
        width: 14px;
        height: 14px;
        background: url('/img/1/containers.png') -371px -79px;

        &:hover,
        &:focus {
            background-position-x: -65px;
        }
    }

    #profile-dialog {
        transform: scale(1.5);
        bottom: 99px;
        right: 122px;
    }

    #settings-page {
        transform: scale(1.5);
        right: 31px;
        bottom: 99px;
    }

    .profile-item-info {
        font-size: 8px;
    }

    #texts {
        top: 15%;
    }

    #bank {
        transform: scale(1.5);
    }

    #quest-list,
    #achievement-list {
        width: 104px;
        height: 82px;
    }

    .skill-slots {
        width: 16px;
        height: 16px;
    }

    .quest-name,
    .profession-name {
        border: 1px solid #373737;
        font-size: 10px;
        border-radius: 4px;
    }

    #map-frame {
        transform: scale(1.6);
    }

    #close-map-frame {
        top: -6px;
        left: 90%;
    }

    #shop {
        top: 30%;
        left: 55%;
        transform: scale(1.5);
    }

    #shop-container ul li {
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .shop-item {
        width: 97%;
        border: 1.5px solid rgb(255 255 0 / 30%);
        border-radius: 7px;
    }

    .shop-item-image {
        width: 16px;
        height: 16px;
        border: 1px solid rgb(0 0 255 / 30%);
    }

    .shop-item-name,
    .shop-item-count,
    .shop-item-price {
        font-size: 7px;
    }

    .shop-item-buy {
        position: relative;
        float: left;
        border: 1px solid rgb(0 255 0 / 30%);
        padding-top: 2%;
        font-size: 6px;
    }

    .item-count {
        width: 16px;
        height: 7px;
        font-size: 7px;
        text-align: center;
        margin-left: 1px;
        margin-top: -7px;
    }
}
