@use 'media';

body {
    line-height: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    touch-action: manipulation;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: pixelated;
    background:
        linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(0 0 0 / 0%), rgb(0 0 0 / 60%)),
        url('/img/tile.png') center center;
    background-size: auto;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

@font-face {
    font-family: AdvoCut;
    src: url('/fonts/advocut/advocut-webfont.eot');
    src:
        url('/fonts/advocut/advocut-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/advocut/advocut-webfont.woff') format('woff'),
        url('/fonts/advocut/advocut-webfont.ttf') format('truetype'),
        url('/fonts/advocut/advocut-webfont.svg#AndinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.gp {
    font-family: AdvoCut, sans-serif;
}

html,
body {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.left-ornament,
.right-ornament {
    position: relative;
    display: inline-block;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: pixelated;
}

.link:hover {
    cursor: pointer;
    color: #d83939;
}

.validation-summary {
    margin: 0.5em auto;
    height: 1em;
}

.validation-error {
    color: #800;
    text-shadow: 2px 2px 2px #f66;
    font-size: 15px;
}

.status {
    color: #03c;
    text-shadow: 2px 2px 2px #39f;
    font-size: 15px;
}

#bubbles {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 5;
    position: absolute;
    font-family: AdvoCut, sans-serif;

    p {
        margin-top: 6px;
    }

    a {
        pointer-events: auto;
        text-decoration: none;
        color: #fcda5c;
    }
}

.pointer {
    display: inline-block;
    position: absolute;
    pointer-events: none;
    user-select: none;
}

.bubble {
    background-color: rgb(45 45 45 / 90%);
    padding: 3px 10px 0;
    border-radius: 8px;
    color: rgb(255 255 255 / 80%);
    display: inline-block;
    text-align: center;
    position: absolute;
    user-select: none;
}

.bubble-tip {
    width: 11px;
    height: 10px;
    top: 10px;
    background-image: url('/img/thingy.png');
    margin: 0 auto;
    position: relative;
}

#chat-input {
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(0 0 0 / 75%);
    border-radius: 4px;
    font-family: AdvoCut, sans-serif;
}

#ability-shortcut {
    left: 38%;
    position: absolute;
}

#chat {
    display: none;
    position: absolute;
    pointer-events: none;
    left: 35%;
    bottom: 20%;

    p {
        font-family: AdvoCut, sans-serif;
    }
}

#chat-log {
    width: 100%;
    height: 100%;
    margin-top: -44%;
    overflow-y: hidden;
    text-shadow: 2px 2px 2px black;
    font-size: 16px;
    font-weight: bold;
}

#talk {
    width: 100%;

    .input {
        color: #eee;
        background: none;
        width: 90%;
        margin-left: 2%;
        border: 0;
    }
}

#login,
#new-account {
    top: 120%;
}

#continue,
#cancel-button,
#play {
    top: 92.5%;
}

#login {
    left: 15%;
}

#cancel-button {
    left: 10%;
}

#new-account {
    left: 60%;
}

#play {
    left: 65%;
}

#remember-me {
    left: 20%;
}

#guest {
    left: 64%;
}

#guest-text {
    top: 5%;
    left: 110%;
}

input[type='range'] {
    width: 100%;
    appearance: none;
    background-image:
        -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(1, #4d4d4d),
            color-stop(1, #c5c5c5)
        );

    &::-webkit-slider-thumb {
        appearance: none !important;
        background-color: #707070;
        border: 1px solid #000;

        &:active {
            background-color: #fcda5c;
        }
    }
}

audio,
video {
    display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
    appearance: button;

    /* 2 */
}

#about p {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.close-about {
    margin-top: 10%;
}

#health,
#health-bar {
    cursor: default;
}

#health {
    /* Safari 5.1, Chrome 10+ */
    background: linear-gradient(to right, #f00, #ef5a5a);
    transition: 0.5s width ease;
}

#exp {
    /* Safari 5.1, Chrome 10+ */
    background: linear-gradient(to left, #4f4, #080);
    transition: 0.5s width ease;
}

#health.white {
    animation: flash 0.5s linear 1;
}

#health.green {
    animation: flash-green 0.5s linear 1;
}

#health.poison {
    animation: flash-poison 0.5s linear 1;
}

@each $size, $i in media.$sizes {
    @media ($size) {
        // Parchment pages

        #parchment h1,
        #about h1 {
            margin-top: 20px * $i;
        }

        #load-character h1,
        #create-character h1 {
            margin-top: 10px * $i;
        }

        // Ornaments

        .left-ornament,
        .right-ornament {
            top: 3px * $i;
            background-image: url('/img/#{$i}/spritesheet.png');
            background-size: 422px * $i auto;
            width: 31px * $i;
            height: 12px * $i;
            margin: 0 5px * $i + 5px;
        }

        .left-ornament {
            background-position-x: -354px * $i;
        }

        .right-ornament {
            background-position-x: -385px * $i;
        }

        // Chat

        #chat {
            width: 250px * $i;
            height: 100px * $i;
        }

        #talk {
            margin-top: 100px * $i;
            height: 10px * $i;

            .input {
                font-size: 5px * $i;
                padding: 2px * $i 0;
            }
        }

        // Login forms

        #remember-me-text,
        #guest-text {
            height: 8px * $i;
            font-size: 8px * $i;
            padding-left: 5px * $i;
        }

        $button-width: 96px * $i;
        $button-height: 27px * $i;

        #login {
            background-position-x: -$button-width;
        }

        #new-account {
            background-position-x: -$button-width * 2;
        }

        #cancel-button {
            background-position-x: -$button-width * 3;
        }

        #continue {
            background-position-x: -$button-width * 4;
        }

        #play,
        #login,
        #new-account,
        #cancel-button,
        #continue {
            width: $button-width;
            height: $button-height;
            background-image: url('/img/#{$i}/buttons.png');
            background-color: transparent;
            position: absolute;
            border: none;
            cursor: pointer;

            &:hover,
            &:focus {
                background-position-y: -$button-height;
            }

            &:active {
                background-position-y: -$button-height * 2;
            }

            &:disabled {
                background-position-y: -$button-height * 3;
                cursor: wait;
            }
        }

        .validation-error,
        .status {
            font-size: 8px * $i;
        }

        .validation-summary {
            width: 128px * $i;
        }

        // Other

        input[type='range'] {
            border-radius: 3px * $i;
            height: 3px * $i;

            &::-webkit-slider-thumb {
                width: 5px * $i;
                height: 8px * $i;
                border-radius: 2px * $i;
            }
        }

        .stroke {
            text-shadow:
                1px * $i 1px * $i 0 #373737,
                1px * $i -1px * $i 0 #373737,
                0 1px * $i 0 #373737,
                1px * $i 0 0 #373737,
                -1px * $i 1px * $i 0 #373737,
                -1px * $i -1px * $i 0 #373737,
                0 -1px * $i 0 #373737,
                0 1px * $i 0 #373737,
                -1px * $i 0 0 #373737;
        }
    }
}

@media (--lg) {
    #parchment h1,
    #load-character h1,
    #about h1 {
        margin-top: 30px;
        font-size: 30px;
    }

    #create-character h1 {
        margin-top: 10px;
        font-size: 30px;
    }

    .left-ornament,
    .right-ornament {
        top: 12px;
    }

    .validation-error,
    .status {
        font-size: 24px;
    }

    .stroke {
        text-shadow:
            2px 2px 0 #373737,
            2px -2px 0 #373737,
            0 2px 0 #373737,
            2px 0 0 #373737,
            -2px 2px 0 #373737,
            -2px -2px 0 #373737,
            0 -2px 0 #373737,
            0 2px 0 #373737,
            -2px 0 0 #373737;
    }

    #remember-me-text,
    #guest-text {
        width: 168px;
    }

    .validation-summary {
        width: 366px;
    }
}

@media (--md) {
    #remember-me-text,
    #guest-text {
        width: 112px;
    }

    input[type='range']::-webkit-slider-thumb {
        height: 15px;
    }
}

@media (--sm) {
    #remember-me-text,
    #guest-text {
        width: 70px;
    }

    #yes {
        left: 0;
    }

    #no {
        left: 40%;
    }

    #about h1,
    #credits h1 {
        font-size: 16px;
    }
}
