@use '../../abstracts/media';

.check {
    cursor: pointer;
    user-select: none;

    position: relative;

    display: flex;

    line-height: 1;
    text-align: left;

    input[type='checkbox'] {
        cursor: pointer;

        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;

        opacity: 0;
    }

    .checkmark {
        display: block;

        &::before {
            content: '';
            display: block;
        }
    }
}

@each $size, $i in media.$sizes {
    @media ($size) {
        .check {
            .checkmark::before {
                width: 8px * $i;
                height: 8px * $i;
                background: url('/img/interface/characterdialogsheet.png') -109px * $i -240px * $i;
                background-size: calc(width('characterdialogsheet.png') * $i);
            }

            &:hover input ~ .checkmark::before,
            input:focus ~ .checkmark::before {
                background-position-x: -118px * $i;
            }

            input:active ~ .checkmark::before {
                background-position-x: -127px * $i;
            }

            input:checked ~ .checkmark::before {
                background-position-x: -136px * $i;
            }

            &:hover input:checked ~ .checkmark::before,
            input:focus:checked ~ .checkmark::before {
                background-position-x: -145px * $i;
            }
        }
    }
}
