@use '../../abstracts/media';

.footer-button {
    color: #c6c0a3;
    text-decoration: none;
}

#intro {
    position: absolute;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100%;
}

body.intro {
    #intro-container {
        transition: 0.4s opacity linear;
    }

    footer,
    #logo,
    #parchment {
        opacity: 1;
    }

    #game-container {
        pointer-events: none;
        opacity: 0;
    }

    footer {
        position: absolute;
        bottom: 5%;
        left: 0;

        width: 100%;

        color: #c6c0a3;
        text-align: center;
        text-shadow: 0 1px 0 black;

        transition: 0.2s opacity linear;

        div {
            display: inline-block;
            padding: 0 0.3125em;

            span:hover {
                cursor: pointer;
                color: #fcda5c;
            }
        }
    }

    .validation-summary {
        flex-direction: row;
        justify-content: center;
        height: 2em;
        font-size: 1em;
    }

    .validation-error {
        color: #e00a0a;
        text-shadow: 0.125em 0.125em 0.125em #800;
    }

    .validation-warning {
        color: rgb(168 162 16);
        text-shadow: 0.125em 0.125em 0.125em #fc6;
    }

    .status {
        color: #03c;
        text-shadow: 0.125em 0.125em 0.125em #39f;
    }

    .loader-dot {
        animation: 1s blink infinite;

        &:nth-child(2) {
            animation-delay: 250ms;
        }

        &:nth-child(3) {
            animation-delay: 500ms;
        }
    }
}
