@use '../../abstracts/media';

#parchment {
    width: 36em;
    height: 19em;
    opacity: 0;

    select {
        width: 25%;
        color: black;
        text-align: center;
        background-color: rgb(0 0 0 / 5%);
    }
}

#load-character,
#create-character,
#reset-password,
#world-select,
#credits,
#about,
#git,
#death,
#news,
#error {
    pointer-events: none;

    position: absolute;
    inset: 0;

    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 0.1em;

    box-sizing: border-box;
    width: 24em;
    height: 17em;
    margin: auto;
    padding: 0 0.5em;

    text-align: center;

    opacity: 0;

    transition: none;

    form {
        position: relative;

        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 0.1em;
        justify-content: space-between;

        height: 100%;

        button {
            width: 8em;
        }

        input {
            font-size: 0.9em;
        }
    }
}

.parchment-left {
    position: absolute;
    top: 0;
    left: 0;
}

.parchment-right {
    position: absolute;
    top: 0;
    right: 0;
}

.parchment-middle {
    position: absolute;
    top: 0;
    left: 50%;
}

.parchment-left,
.parchment-middle,
.parchment-right,
#respawn {
    image-rendering: pixelated;
}

.left-ornament,
.right-ornament {
    position: relative;
    display: inline-block;
    image-rendering: pixelated;
}

#death {
    p {
        margin-top: 10%;
    }

    #respawn {
        cursor: pointer;

        display: flex;
        flex-direction: row;
        justify-content: center;

        margin-top: 2em;
    }
}

.credits #credits,
.about #about,
.git #git,
.death #death,
.news #news,
.error #error,
.create-character #create-character,
.reset-password #reset-password,
.world-select #world-select,
.load-character #load-character {
    pointer-events: auto;
    opacity: 1;
    transition: 0.5s opacity linear;
}

@media (--portrait) {
    #parchment {
        width: 20em;
        height: 26em;
    }

    #loading,
    #load-character,
    #create-character,
    #reset-password,
    #world-select,
    #credits,
    #about,
    #git,
    #death,
    #news,
    #error {
        flex-flow: column;
        justify-content: center;
        width: 16em;
        height: 23em;

        .button-row {
            flex-flow: column;
        }

        .slice-button {
            width: 15em;
        }
    }
}
