@use '../../abstracts/media';

#ability-shortcut {
    position: absolute;
    margin-left: 40%;
    opacity: 0;
    transition: opacity 2s;
}

#ability-shortcut ul {
    overflow: hidden;

    width: 128%;
    margin-left: 7%;
    padding: 0;

    list-style-type: none;

    li {
        float: left;
        margin-top: 1%;
        margin-right: 4%;
    }
}

@each $size, $i in media.$bsizes {
    @media ($size) {
        .ability-quickslot {
            cursor: url('/img/3/hand.png'), auto;
            position: absolute;
            width: 16px * $i;
            height: 16px * $i;
        }

        #ability-quickslot1 {
            top: 2px * $i;
            left: 9px * $i;
        }

        #ability-quickslot2 {
            top: 2px * $i;
            left: 31px * $i;
        }

        #ability-quickslot3 {
            top: 2px * $i;
            left: 53px * $i;
        }

        #ability-quickslot4 {
            top: 2px * $i;
            left: 75px * $i;
        }
    }
}

@each $size, $i in media.$ssizes {
    @media ($size) {
        #ability-shortcut {
            cursor: url('/img/3/hand.png'), auto;

            bottom: 5px;

            width: 200px * $i;
            height: 40px * $i;

            background-image: url('/img/#{$i}/skillslots.png');
        }

        .quickslot-icon-intimidate {
            background-image: url('/img/#{$i}/abilityicons.png');
            background-position: 0 1px;
        }

        .quickslot-icon-run {
            background-image: url('/img/#{$i}/abilityicons.png');
            background-position: -16px * $i 1px;
        }

        .quickslot-icon-awareness {
            background-image: url('/img/#{$i}/abilityicons.png');
            background-position: -32px * $i 1px;
        }

        .quickslot-icon-dualistsmark {
            background-image: url('/img/#{$i}/abilityicons.png');
            background-position: -48px * $i 1px;
        }

        .quickslot-icon-hotshot {
            background-image: url('/img/#{$i}/abilityicons.png');
            background-position: -64px * $i 1px;
        }

        .quickslot-icon-thickskin {
            background-image: url('/img/#{$i}/abilityicons.png');
            background-position: -80px * $i 1px;
        }

        .quickslot-icon-precognition {
            background-image: url('/img/#{$i}/abilityicons.png');
            background-position: -96px * $i 1px;
        }

        .quickslot-icon-secretcalling {
            background-image: url('/img/#{$i}/abilityicons.png');
            background-position: -112px * $i 1px;
        }

        .quickslot-icon-intimidate,
        .quickslot-icon-run,
        .quickslot-icon-awareness,
        .quickslot-icon-dualistsmark,
        .quickslot-icon-hotshot,
        .quickslot-icon-thickskin,
        .quickslot-icon-precognition,
        .quickslot-icon-secretcalling {
            &:hover {
                background-position-y: -15px * $i;
            }

            &:active, &.active {
                background-position-y: -30px * $i;
            }
        }
    }
}

@media (--md) {
    #ability-shortcut {
        margin-left: 25%;
    }
}

@media (--sm) {
    #ability-shortcut {
        right: 0;
        margin-bottom: 50px;
    }
}