@use '../../abstracts/media';

#ability-shortcut {
    position: absolute;

    margin-left: 40%;
}

#ability-shortcut ul {
    overflow: hidden;

    width: 128%;
    margin-left: 7%;
    padding: 0;

    list-style-type: none;

    li {
        float: left;

        margin-top: 1%;
        margin-right: 4%;
    }
}

@each $size, $i in media.$sizes {
    @media ($size) {
        #ability-shortcut {
            cursor: url('/img/3/hand.png'), auto;

            bottom: 5px;

            width: 100px * $i;
            height: 20px * $i;

            background-image: url('/img/#{$i}/skillslots.png');
        }
    }
}

@media (--sm) {
    #ability-shortcut {
        width: 200px;
        height: 40px;

        background-image: url('/img/2/skillslots.png');
    }
}