@use '../../abstracts/sprite';

#achievements {
    display: none;

    &-content {
        height: 100%;
        padding: 0.75em;

        ul {
            overflow: auto;
            display: flex;
            flex-flow: column;
            gap: 0.5em;

            height: 100%;
            padding-right: 0.25em;

            li {
                display: flex;
                flex-shrink: 0;
                gap: 0.5em;
                align-items: center;

                .achievement-title {
                    flex: 1;
                }

                .achievement-description {
                    flex: 2;
                    font-size: 0.75em;
                }
            }
        }
    }
}

@include sprite.sheet($image: 'achievements', $width: 20, $height: 20, $selectors: '.coin-slot') {
    box-sizing: border-box;
    padding: 0.25em;
}

@include sprite.sheet(
    $image: 'achievements',
    $x: 21,
    $y: 2,
    $width: 16,
    $height: 16,
    $selectors: '.coin-default'
);
