@use '../../abstracts/media';

#action-container {
    position: absolute;
    display: none;

    // cursor: hand;

    font-family: AdvoCut, sans-serif;

    ul {
        position: absolute;
        display: inline-flex;
    }
}

.action-item-name {
    text-align: center;
}

.action-item-name, .action-item-description {
    color: #fff
}

@each $size, $i in media.$bsizes {
    @media ($size) {
        #action-container {
            right: 101px * $i;
            bottom: 34px * $i;

            width: 64px * $i;
            height: 73px * $i;

            background: url('/img/#{$i}/main.png') -224px * $i -384px * $i no-repeat;

            ul {
                bottom: 4px * $i;
                left: 4px * $i;

                li {
                    margin-left: 3px * $i;
                }
            }
        }

        .action-wield,
        .action-equip {
            background: url('/img/#{$i}/main.png') -400px * $i -384px * $i no-repeat;
        }

        .action-drop {
            background: url('/img/#{$i}/main.png') -400px * $i -400px * $i no-repeat;
        }

        .action-eat {
            background: url('/img/#{$i}/main.png') -400px * $i -416px * $i no-repeat;
        }

        .action-button {
            width: 16px * $i;
            height: 16px * $i;

            &:hover {
                background-position-x: -432px * $i;
            }

            &:active {
                background-position-x: -416px * $i;
            }
        }

        .action-item-name {
            margin-top: 3px * $i;
            margin-left: 4px * $i;
            font-size: 5px * $i;
        }

        .action-item-description {
            margin-left: 3px * $i;
            font-size: 4px * $i;
        }
    }
}

@media (--lg) {
    #action-container {
        right: 298px;
        bottom: 80px;
    }
}

@media (--md) {
    #action-container {
        right: 202px;
        bottom: 68px;
    }
}
