@use '../../abstracts/media';

#action-container {
    position: absolute;
    display: none;
}

#action-page {
    cursor: url('/img/3/hand.png'), auto;

    position: absolute;

    width: 100%;
    height: 100%;

    font-family: AdvoCut, sans-serif;

    ul {
        position: absolute;
        display: inline-flex;
    }
}

.action-item-name {
    text-align: center;
}

.action-item-name,
.action-item-description {
    color: #fff;
}

@each $size, $i in media.$bsizes {
    @media ($size) {
        #action-container {
            right: 101px * $i;
            bottom: 34px * $i;
            width: 64px * $i;
            height: 89px * $i;
        }

        #action-page {
            background: url('/img/#{$i}/main.png') -224px * $i -368px * $i no-repeat;

            ul {
                bottom: 4px * $i;
                left: 4px * $i;

                li {
                    margin-left: 3px * $i;
                }
            }
        }

        .action-wield,
        .action-equip,
        .action-attack {
            background: url('/img/#{$i}/main.png') -400px * $i -384px * $i no-repeat;
        }

        .action-drop-one {
            background: url('/img/#{$i}/main.png') -400px * $i -400px * $i no-repeat;
        }

        .action-drop-many {
            background: url('/img/#{$i}/main.png') -400px * $i -416px * $i no-repeat;
        }

        .action-eat {
            background: url('/img/#{$i}/main.png') -400px * $i -432px * $i no-repeat;
        }

        .action-eat2 {
            background: url('/img/#{$i}/main.png') -400px * $i -448px * $i no-repeat;
        }

        .action-trade {
            background: url('/img/#{$i}/main.png') -400px * $i -464px * $i no-repeat;
        }

        .action-potion {
            background: url('/img/#{$i}/main.png') -400px * $i -480px * $i no-repeat;
        }

        .action-follow {
            background: url('/img/#{$i}/main.png') -400px * $i -496px * $i no-repeat;
        }

        .action-examine {
            background: url('/img/#{$i}/main.png') -400px * $i -512px * $i no-repeat;
        }

        .action-addfriend {
            background: url('/img/#{$i}/main.png') -400px * $i -528px * $i no-repeat;
        }

        .action-button {
            width: 16px * $i;
            height: 16px * $i;

            &:hover {
                background-position-x: -432px * $i;
            }

            &:active {
                background-position-x: -416px * $i;
            }
        }

        .action-item-name {
            margin-top: 3px * $i;
            margin-bottom: 2px * $i;
            margin-left: 4px * $i;
            font-size: 6px * $i;
        }

        .action-item-description {
            margin-left: 3px * $i;
            font-size: 4px * $i;
        }
    }
}

@media (--lg) {
    #action-container {
        right: 298px;
        bottom: 80px;
    }
}

@media (--md) {
    #action-container {
        right: 202px;
        bottom: 68px;
    }
}
