@use '../../abstracts/media';

#attack-info {
    position: absolute;
    left: 40%;

    display: none;

    padding-top: 0.25em;

    border-image-width: 0 16px 16px 16px;

    .name,
    .health {
        font-family: AdvoCut, sans-serif;
        color: white;
        text-align: center;
    }

    .name {
        overflow: hidden;
        width: 100%;
    }

    .details {
        overflow: hidden;

        width: 100%;

        font-family: AdvoCut, sans-serif;
        color: white;
        text-align: center;
    }

    .health {
        left: 5%;
        overflow: hidden;
        width: 90%;
    }
}

@each $size, $i in media.$dialog-sizes {
    @media ($size) {
        #attack-info {
            top: 0;

            width: 100px * $i;
            height: 36px * $i;

            background: url('/img/interface/main.png') -32px * $i -464px * $i no-repeat;
            background-size: calc(width('main.png') * $i);

            .name,
            .details {
                margin-top: 3px * $i;
            }

            .health {
                height: 6px * $i;
                margin: auto;

                background-color: red;
                border: 1px * $i solid #373737;
                border-radius: 2px * $i;

                transition: 0.5s width ease;
            }
        }
    }
}
