@use '../../abstracts/media';

#bank {
    cursor: url('/img/3/hand.png'), auto;

    position: absolute;
    inset: 0;

    display: none;

    margin: auto;
}

#bank-container {
    float: right;
}

#bank-slot {
    position: absolute;
    top: 9%;
    overflow: hidden;
    overflow-y: scroll;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            float: left;
        }
    }
}

#bank-inventory-slots {
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            float: left;
        }
    }
}

.bank-item-count {
    font-family: AdvoCut, sans-serif !important;
    color: gold !important;
    text-shadow: 1px 1px black;
}

@each $size, $i in media.$sizes {
    @media ($size) {
        #bank {
            width: 300px * $i;
            height: 167px * $i;
        }

        #bank-container,
        #bank-inventory-container {
            background-image: url('/img/#{$i}/bank.png');
        }

        #bank-inventory-slots {
            top: 16px * $i;
            left: 20px * $i;
            width: 96px * $i;
            height: 92px * $i;

            ul {
                li {
                    .item-slot {
                        margin-bottom: 4px * $i;
                    }
                }
            }
        }

        #bank-container {
            width: 171px * $i;
            height: 167px * $i;
            background-position: -132px * $i 0;
        }

        #bank-slot {
            left: 140px * $i;
            width: 144px * $i;
            height: 130px * $i;

            ul {
                li {
                    .item-slot {
                        margin-bottom: 4px * $i;
                        margin-left: 2px * $i;
                    }
                }
            }
        }
    }
}

@media (--sm) {
    #bank {
        transform: scale(1.5);
    }

    #bank-slot {
        ul {
            li {
                .item-slot {
                    margin-bottom: 8px;
                    margin-left: 3px;
                }
            }
        }
    }

    #bank-inventory-slots {
        left: 11px;
        width: 106px;

        ul {
            li {
                .item-slot {
                    margin-bottom: 8px
                }
            }
        }
    }
}
