#bubbles {
    pointer-events: none;

    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    a {
        pointer-events: auto;
        color: #fcda5c;
        text-decoration: none;
    }
}

.pointer {
    pointer-events: none;
    user-select: none;

    position: absolute;

    display: inline-block;

    width: 4.5rem;
    height: 4.5rem;

    background: url('/img/pointer.png') no-repeat;
}

.bubble {
    user-select: none;

    position: absolute;

    display: inline-block;

    box-sizing: border-box;
    max-width: 12em;
    padding: 0.5em 0.55em;

    font-size: 0.9em;
    color: rgb(255 255 255 / 80%);
    text-align: center;

    background-color: rgb(45 45 45 / 90%);
    border-radius: 0.5em;

    &::after {
        content: '';

        position: absolute;
        bottom: -0.7em;
        left: calc(50% - 0.75em);

        display: block;

        width: 0;

        border-color: rgb(45 45 45 / 90%) transparent;
        border-style: solid;
        border-width: 0.75em 0.5em 0;
    }
}
