@use '../../abstracts/media';

#buttons {
    cursor: url('/img/3/hand.png'), auto;

    position: absolute;
    right: 0;
    bottom: 0;

    overflow-x: hidden;
    overflow-y: hidden;

    background-color: rgb(0 0 0 / 0%);

    ul {
        float: right;
        overflow: hidden;

        margin: 0;
        padding: 0;

        list-style-type: none;

        li {
            float: left;
        }
    }
}

#chat-button,
#inventory-button,
#profile-button,
#settings-button,
#warp-button,
#audio-button,
#achievements-button,
#quests-button,
#friends-button {
    position: relative;

    width: 42px;
    height: 45px;

    background: url('/img/3/main.png') no-repeat;
    background-position-y: -942px;
}

#chat-button {
    background-position: -588px -987px;

    &:hover {
        background-position-x: -630px;
    }

    &.active, &:active {
        background-position-x: -672px;
    }
}

#inventory-button {
    background-position-x: -588px;

    &:hover {
        background-position-x: -630px;
    }

    &.active, &:active {
        background-position-x: -672px;
    }
}

#profile-button {
    background-position-x: -714px;

    &:hover {
        background-position-x: -756px;
    }

    &.active, &:active {
        background-position-x: -798px;
    }
}

#settings-button {
    background-position-x: -1218px;

    &:hover {
        background-position-x: -1260px;
    }

    &.active, &:active {
        background-position-x: -1302px;
    }
}

#warp-button {
    background-position-x: -966px;

    &:hover {
        background-position-x: -1008px;
    }

    &.active, &:active {
        background-position-x: -1050px;
    }
}

#audio-button {
    background-position-x: -294px;

    &:hover {
        background-position-x: -378px;
    }

    &.active, &:active {
        background-position-x: -336px;
    }
}

#achievements-button {
    background-position-x: -126px;

    &:hover {
        background-position-x: -168px;
    }

    &.active, &:active {
        background-position-x: -210px;
    }
}

#quests-button {
    background-position-x: -840px;

    &:hover {
        background-position-x: -882px;
    }

    &.active, &:active {
        background-position-x: -924px;
    }
}

#friends-button {
    background-position-x: -1092px;

    &:hover {
        background-position-x: -1134px;
    }

    &.active, &:active {
        background-position-x: -1176px;
    }
}

// Big buttons with text on them
.accept-button {
    position: absolute;
}

@each $size, $i in media.$sizes {
    @media ($size) {
        .accept-button {
            width: 96px * $i;
            height: 27px * $i;
            background: url('/img/#{$i}/buttons.png') -480px * $i 0 no-repeat;

            &:hover {
                background-position-y: -27px * $i;
            }

            &.active, &:active {
                background-position-y: -54px * $i;
            }

            &.disabled {
                background-position-y: -81px * $i;
            }
        }
    }
}