@use '../../abstracts/media';

#buttons {
    cursor: url('/img/hand.png'), auto;

    position: absolute;
    right: 0;
    bottom: 0;

    overflow-x: hidden;
    overflow-y: hidden;

    background-color: rgb(0 0 0 / 0%);

    ul {
        float: right;
        overflow: hidden;

        margin: 0;
        padding: 0;

        list-style-type: none;

        li {
            float: left;
        }
    }
}

// Big buttons with text on them
.accept-button {
    position: absolute;
}

@each $size, $i in media.$sizes {
    @if $i == 3 {
        $i: 3.75;
    } @else {
        $i: 3;
    }

    @media ($size) {
        #chat-button,
        #inventory-button,
        #profile-button,
        #settings-button,
        #warp-button,
        #audio-button,
        #achievements-button,
        #quests-button,
        #friends-button {
            position: relative;

            width: 14px * $i;
            height: 15px * $i;

            background: url('/img/interface/main.png') no-repeat;
            background-position-y: -314px * $i;
            background-size: calc(width('main.png') * $i);
        }

        #chat-button {
            background-position: -196px * $i -329px * $i;

            &:hover {
                background-position-x: -210px * $i;
            }

            &.active,
            &:active {
                background-position-x: -224px * $i;
            }
        }

        #inventory-button {
            background-position-x: -196px * $i;

            &:hover {
                background-position-x: -210px * $i;
            }

            &.active,
            &:active {
                background-position-x: -224px * $i;
            }
        }

        #profile-button {
            background-position-x: -238px * $i;

            &:hover {
                background-position-x: -252px * $i;
            }

            &.active,
            &:active {
                background-position-x: -266px * $i;
            }
        }

        #settings-button {
            background-position-x: -406px * $i;

            &:hover {
                background-position-x: -420px * $i;
            }

            &.active,
            &:active {
                background-position-x: -434px * $i;
            }
        }

        #warp-button {
            background-position-x: -322px * $i;

            &:hover {
                background-position-x: -336px * $i;
            }

            &.active,
            &:active {
                background-position-x: -350px * $i;
            }
        }

        #audio-button {
            background-position-x: -98px * $i;

            &:hover {
                background-position-x: -126px * $i;
            }

            &.active,
            &:active {
                background-position-x: -112px * $i;
            }
        }

        #achievements-button {
            background-position-x: -42px * $i;

            &:hover {
                background-position-x: -56px * $i;
            }

            &.active,
            &:active {
                background-position-x: -70px * $i;
            }
        }

        #quests-button {
            background-position-x: -280px * $i;

            &:hover {
                background-position-x: -294px * $i;
            }

            &.active,
            &:active {
                background-position-x: -308px * $i;
            }
        }

        #friends-button {
            background-position-x: -364px * $i;

            &:hover {
                background-position-x: -378px * $i;
            }

            &.active,
            &:active {
                background-position-x: -392px * $i;
            }
        }

        .accept-button {
            width: 96px * $i;
            height: 27px * $i;
            background: url('/img/interface/buttons.png') -480px * $i 0 no-repeat;
            background-size: calc(width('buttons.png') * $i);

            &:hover {
                background-position-y: -27px * $i;
            }

            &.active,
            &:active {
                background-position-y: -54px * $i;
            }

            &.disabled {
                background-position-y: -81px * $i;
            }
        }
    }
}
