@use '../../abstracts/media';
@use '../../abstracts/sprite';

#chat {
    pointer-events: auto;
    scroll-behavior: smooth;

    position: absolute;
    bottom: 1em;
    left: 1em;

    display: none;
    flex-direction: column;
}

#chat-log {
    overflow-y: scroll;
    height: 9.875em;
    margin: 1em 0.375em 0 0.675em;
    text-shadow: 0.125em 0.125em 0.125em black;
}

#chat-input {
    pointer-events: auto;

    display: none;

    box-sizing: border-box;
    width: 100%;
    height: 1.75em;
    margin-left: 1em;

    font-size: 1em;

    background: transparent;
    border: none;
}

#chat-log,
#chat-input {
    color: white;
}

@include sprite.sheet($image: 'chatbox', $scale: 1.5, $selectors: #chat);
