@use '../../abstracts/media';

#chat {
    pointer-events: auto;
    scroll-behavior: smooth;

    position: absolute;
    bottom: 12px;
    left: 12px;

    display: none;

    p {
        padding-left: 8px;
        font-family: AdvoCut, sans-serif;
    }
}

#chat-log {
    position: absolute;
    overflow-y: scroll;
    text-shadow: 2px 2px 2px black;
}

#chat-log::-webkit-scrollbar-thumb {
    pointer-events: auto;
}

#chat-input {
    pointer-events: auto;

    position: absolute;

    display: none;

    width: 90%;

    background: transparent;
    border: none;
}

#chat-log,
#chat-input {
    font-family: AdvoCut, sans-serif;
    font-size: 16px;
    color: white;
}

@each $size, $i in media.$s-sizes {

    @media ($size) {
        #chat {
            width: 264px * $i;
            height: 135px * $i;
            background: url('/img/interface/chatbox.png') no-repeat;
            background-size: calc(width('chatbox.png') * $i);
        }

        #chat-log {
            top: 8px * $i;
            left: 4px * $i;
            width: 254px * $i;
            height: 104px * $i;
        }

        #chat-input {
            bottom: 4px * $i;
            left: 12px * $i;
            height: 10px * $i;
        }
    }

    @media (--lg) {
        #chat-log {
            font-size: 18px;
        }
    }

    @media(--sm) {
        #chat {
            bottom: 70px;
            left: 4px;
        }
    }
}
