@use '../../abstracts/sprite';

#game-container {
    position: inherit;
    z-index: 100;

    width: 100%;
    height: 100%;
    margin: 0;

    background-color: rgb(0 0 0 / 20%);

    transition: 1s opacity linear;
}

#background,
#entities,
#entities-fore,
#foreground,
#cursor,
#text-canvas,
#overlay,
#entities-mask {
    position: absolute;
    transform: translateZ(0);
    margin: 0;
    padding: 0;
}

#canvas,
#foreground,
#background,
#text-canvas,
#overlay,
#game-container,
#border,
#cursor {
    cursor: none;
    user-select: none;
}

#cursor {
    pointer-events: none;
    z-index: 1000;
}

#border {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin-left: 0;
    padding: 0;

    background: none;
    border: 0;
}

.container {
    position: absolute;
    inset: 0;
    display: none;
}

.greyscale {
    opacity: 0.5;
    filter: grayscale(100%);
}

@include sprite.sheet(
    $image: 'guilds/elements',
    $x: 64,
    $width: 11,
    $height: 11,
    $gap: 1,
    $hover: 1,
    $active: 2,
    $selectors: '.close-container'
) {
    position: absolute;
    top: -0.25em;
    right: -0.25em;
}
