@use '../../abstracts/media';

#game-container {
    position: inherit;
    z-index: 100;

    width: 100%;
    height: 100%;
    margin: 0;

    background-color: rgb(0 0 0 / 20%);

    transition: 1s opacity linear;

    // width: 490px;
    // height: 266px;
    // margin: -126px auto auto -245px;
    // position: absolute;
}

#background,
#text-canvas,
#foreground,
#cursor,
#overlay {
    transform: translateZ(0);
    margin: 0;
    padding: 0;
}

#canvas,
#foreground,
#background,
#text-canvas,
#overlay,
#game-container,
#border,
#cursor {
    cursor: none;
    user-select: none;

    @media (--sm) {
        cursor: url('/img/3/hand.png'), auto;
    }
}

// #game-container {
//     top: 48%;
//     left: 50%;
// }

#border {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin-left: 0;
    padding: 0;

    background: none;
    border: 0;

    // background: url('/img/1/border.png') no-repeat;
    // background-size: 100% 100%;
}

.container-slot {
    margin: auto;
}

.container-slot.flex {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.container-slot > p {
    font-size: 20px;
    color: rgb(168 16 5);
    text-align: center;
}

.container-slot > p.left {
    float: left;
    text-align: left;
}

.container-slot > p.yellow {
    color: rgb(168 168 5);
}

.container-slot > p.green {
    color: rgb(16 168 5);
}

@each $size, $i in media.$sizes {
    @media ($size) {
        .container {
            cursor: url('/img/3/hand.png'), auto;

            position: absolute;
            inset: 0;

            display: none;

            width: 344px * $i;
            height: 157px * $i;
            margin: auto;

            background: url('/img/#{$i}/spritesheet.png') 0 -80px * $i no-repeat;
        }


        .container-slot {
            width: 102px * $i;
            height: 15px * $i;
            margin-top: 2px * $i;
            background: url('/img/#{$i}/characterdialogsheet.png') -144px * $i -256px * $i;

            &:hover {
                background-position-y: -320px * $i;
            }

            &:active {
                background-position-y: -336px * $i;
            }
        }

        .container-slot > p {
            padding-top: 4px * $i;
        }
    }

    @media (--sm) {
        .container-slot > p {
            padding-top: 2px;
            font-size: 10px;
        }
    }
}

.close-container {
    top: -2% !important;
    left: 96% !important;
}