@use '../../abstracts/media';

.dialog-slice {
    box-sizing: border-box;
    padding: 1em 0.5em 0.5em;

    font-family: AdvoCut, sans-serif;
    color: #eee;

    border-image: url('/img/interface/slices/dialog.png');
    border-image-slice: 45% fill;
    border-image-width: 16px;
    border-image-outset: 0;
    border-image-repeat: stretch;
}

dialog {
    position: absolute;
    inset: 0;

    display: none;

    margin: auto;

    font-family: AdvoCut, sans-serif;
    font-size: 16px;
    color: #e3e3e3;

    background: transparent;
}

.dialog-count {
    display: block;

    margin: 0 auto;

    font-family: AdvoCut, sans-serif;
    color: white;

    background-color: rgb(0 0 0 / 50%);
}

.dialog-title {
    text-align: center;
}

.dialog-buttons {
    display: flex;
    justify-content: space-between;
}

@each $size, $i in media.$dialog-sizes {
    @media ($size) {
        dialog {
            width: 64px * $i;
            height: 50px * $i;
        }

        .dialog-count {
            width: 40px * $i;
            margin-bottom: 1px * $i;
        }

        .dialog-title {
            margin-top: 3px * $i;
            margin-bottom: 3px * $i;
            font-size: 6px * $i;
        }
    }

    @media (--sm) {
        .dialog-title {
            font-size: 10px;
        }

        .dialog-buttons {
            transform: scale(2);
            margin-top: 8px;
            padding: 0 30px;
        }
    }
}
