#drop-dialog {
    position: absolute;
    top: 50%;
    left: 50%;

    display: none;
    flex-direction: column;
    gap: 0.5em;

    margin-right: -28px;
    margin-left: -100px;
    padding: 0.5em;

    font-family: AdvoCut, sans-serif;
    font-size: 16px;
    color: #e3e3e3;

    background-color: rgb(45 45 45 / 80%);
    border-radius: 6px;
}

#drop-count {
    display: block;
    margin: 0 auto;
    font-family: AdvoCut, sans-serif;
}

#drop-title {
    margin-bottom: 10px;
    text-align: center;
}

#drop-accept,
#drop-cancel {
    cursor: pointer;

    font-size: 18px;
    color: #e3e3e3;

    background-color: rgb(120 120 120 / 30%);
    border-radius: 6px;

    transition: background-color 0.2s;

    &:hover {
        background-color: rgb(120 120 120 / 40%);
    }

    &:active {
        color: #fcda5c;
        background-color: rgb(120 120 120 / 40%);
    }
}
