#enchant {
    display: none;
    width: 16em;
    height: 16em;

    &-content {
        display: flex;
        flex-direction: column;
        gap: 1em;
        height: 100%;
    }

    &-inventory {
        &-slots {
            overflow: auto;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 0.25em;
            justify-items: center;

            height: 100%;
            padding-right: 0.25em;
        }
    }

    &-item {
        display: flex;
        flex: 1;
        gap: 1em;
        align-items: center;
        justify-content: center;

        &-selected {
            margin-bottom: 1em;
        }

        &-selected,
        &-shards {
            width: 2em;
            height: 2em;
        }

        &-count {
            height: 1em;
        }
    }
}
