@use '../../abstracts/media';

@each $size, $i in media.$sizes {
    @media ($size) {
        #equipments {
            cursor: url('/img/3/hand.png'), auto;

            position: absolute;
            top: 25%;
            left: 23%;

            display: none;

            width: 345px * $i;
            height: 157px * $i;

            background: url('/img/#{$i}/spritesheet.png') 0 -80px * $i no-repeat;
        }

        #equipment-slots {
            top: 15px * $i;
            left: 55px * $i;

            overflow: hidden;

            width: 120px * $i;
            height: 132px * $i;

            background-position: -2px * $i -70px * $i;
        }

        #equipment-slot-container {
            position: absolute;
            top: -68px * $i;
            left: -2px * $i;
        }
    }
}

#close-equipments {
    top: -2%;
    left: 96%;   
}