@use '../../abstracts/media';

#equipments {
    display: none;
}

#equipment-slots {
    top: 1.25em;
    left: 3.4375em;

    overflow: hidden;

    width: 7.25em;
    height: 7.5em;

    background-position: -0.25em -5em;
}

#player-image-armour,
#player-image-weapon {
    overflow: auto;
    width: 2em;
    height: 2em;
}

.title {
    text-decoration: underline;
}

#attack-stats,
#defense-stats,
#bonuses {
    border-color: black;
    border-radius: 1px;
}

#attack-stats,
#defense-stats {
    top: 1em;
    width: 4.375em;
    height: 5em;
}

#attack-stats {
    left: 11.25em;
}

#defense-stats {
    left: 15.625em;
}

#bonuses {
    top: 5.625em;
    left: 11.25em;
}
