@use '../../abstracts/media';

#friends-container {
    position: absolute;
    right: 0;
    bottom: 45px;
}

#friends-list {
    position: absolute;
    inset: 0;

    overflow: auto;

    margin: auto;

    font-family: AdvoCut, sans-serif;

    li {
        p:first-child {
            color: #fff;
        }

        p:last-child {
            float: right;
        }
    }
}

#popup-container {
    position: absolute;
    inset: 0;

    display: none;

    width: 100%;
    height: 100%;

    border-radius: 16px;
}

#add-popup {
    position: absolute;
    inset: 0;
    margin: auto;
}

#popup-friend-input {
    position: absolute;

    font-family: AdvoCut, sans-serif;
    font-size: 16px;
    color: #fff;

    background-color: transparent;
    border: none;
}

.add,
.remove {
    position: absolute;
}

.confirm,
.cancel {
    position: inherit;
    bottom: 0;
}

@each $size, $i in media.$sizes {
    @media ($size) {
        #friends-container {
            display: none;
        }

        #friends-page {
            width: 100%;
            height: 100%;
            background: url('/img/#{$i}/characterdialogsheet.png') -248px * $i -217px * $i;
        }

        #friends-list {
            width: 106px * $i;
            height: 172px * $i;
            margin-top: 14px * $i;
            padding-left: 2px * $i;

            li {
                p:first-child {
                    padding-left: 6px * $i;
                }

                p:last-child {
                    padding-right: 6px * $i;
                }
            }
        }

        #friends-list > li:last-child {
            margin-bottom: 1px * $i;
        }

        #add-popup {
            width: 96px * $i;
            height: 38px * $i;
            background: url('/img/#{$i}/characterdialogsheet.png') -146px * $i -272px * $i;
        }

        #popup-friend-input {
            top: 8px * $i;
            left: 8px * $i;
            width: 76px * $i;
        }

        .add {
            left: 24px * $i;
            background-position-y: -274px * $i;
        }

        .remove {
            right: 24px * $i;
            background-position-y: -291px * $i;
        }

        .add,
        .remove {
            bottom: 8px * $i;
            width: 21px * $i;
            height: 17px * $i;
            background-image: url('/img/#{$i}/characterdialogsheet.png');

            &:hover {
                background-position-x: -42px * $i;
            }

            &:active {
                background-position-x: -21px * $i;
            }
        }

        // Popup buttons

        .confirm {
            bottom: 4px * $i;
            left: 14px * $i;
            background-position-y: -308px * $i;
        }

        .cancel {
            right: 14px * $i;
            bottom: 4px * $i;
            background-position-y: -322px * $i;
        }

        .confirm,
        .cancel {
            width: 21px * $i;
            height: 14px * $i;
            background-image: url('/img/#{$i}/characterdialogsheet.png');

            &:hover {
                background-position-x: -42px * $i;
            }

            &:active {
                background-position-x: -21px * $i;
            }
        }
    }

    @media (--lg) {
        #friends-container {
            right: 0;
        }
    }

    @media (--md) {
        #friends-container {
            right: 32px;
        }

        #popup-friend-input {
            top: 12px;
        }

        #friends-page > ul > li > p {
            font-size: 20px;
        }
    }

    @media (--sm) {
        #friends-container {
            right: 80px;
            bottom: 99px;
            transform: scale(1.5);
        }

        #popup-friend-input {
            top: 6px;
            font-size: 7px;
        }

        #friends-page > ul > li > p {
            font-size: 10px;
        }
    }
}
