@use '../../abstracts/media';

#interact {
    cursor: url('/img/3/hand.png'), auto;
    position: absolute;
    display: none;
}

@each $size, $i in media.$sizes {
    @media ($size) {
        #interact {
            width: 64px * $i;
            height: 30px * $i;
            background: url('/img/#{$i}/main.png') -336px * $i -464px * $i no-repeat;
        }
    }
}

