@use '../../abstracts/media';

#interact {
    position: absolute;
    display: none;

    ul {
        display: flex;
        justify-content: space-around;
    }
}

@each $size, $i in media.$dialog-sizes {
    @media ($size) {
        #interact {
            width: 64px * $i;
            height: 30px * $i;
        }
    }
}
