#inventory {
    cursor: default;

    position: absolute;
    right: 5px;
    bottom: 50px;

    display: none;

    background-color: rgb(0 0 0 / 30%);

    ul {
        overflow: hidden;

        margin: 0;
        padding: 0;

        list-style-type: none;

        li {
            float: left;
        }
    }
}

.item-slot {
    background-color: rgb(0 0 0 / 50%);
    background-size: 600%;
}

@media (--lg) {
    #inventory {
        width: 288px;
        height: 303px;

        border: 3px solid #373737;
    }

    .item-slot {
        width: 48px;
        height: 48px;
        margin-top: 3px;
        margin-bottom: 21px;
        margin-left: 3px;

        border: 3px solid #707070;
        border-radius: 9px;

        &:hover {
            border: 3px solid #eee;
        }

        &:active {
            border: 3px solid #fcda5c;
        }
    }

    .item-slot-focused {
        border: 3px solid #fcda5c !important;
    }

    .inventory-item-count {
        width: 48px;
        height: 21px;
        margin-top: 54px;
        margin-left: 3px;

        font-size: 18px;
        text-align: center;
    }
}

@media (--md) {
    #inventory {
        width: 192px;
        height: 202px;

        border: 2px solid #373737;
    }

    .item-slot {
        width: 32px;
        height: 32px;
        margin-top: 2px;
        margin-bottom: 14px;
        margin-left: 2px;

        border: 2px solid #707070;
        border-radius: 3px;

        &:hover,
        &.select {
            border: 2px solid #eee;
        }

        &:active,
        &:focus {
            border: 2px solid #fcda5c;
        }
    }

    .item-slot-focused {
        border: 2px solid #fcda5c !important;
    }

    .inventory-item-count {
        width: 32px;
        height: 14px;
        margin-top: 36px;
        margin-left: 2px;

        font-size: 12px;
        text-align: center;
    }
}
