#leaderboards {
    display: none;
}

#leaderboards-search,
#leaderboards-results {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.5em;

    height: 100%;

    ul {
        overflow: hidden auto;
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 0.25em;

        height: 100%;
        padding-right: 0.25em;

        li {
            flex-shrink: 0;
        }
    }
}
