@use '../../abstracts/media';

#notify,
#confirm {
    pointer-events: auto;

    position: absolute;
    top: 45%;
    left: 35%;

    display: none;
}

#exclamation,
#question {
    top: 30%;
    left: 10%;
}

.done {
    position: absolute;
    top: 70%;
    left: 85%;
}

#cancel {
    position: absolute;
    top: 70%;
    left: 70%;
}

#message {
    pointer-events: none;

    position: absolute;
    top: 48%;
    left: 42%;

    font-family: AdvoCut, sans-serif;
}

.fade {
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 98%;

    background-color: rgb(0 0 0 / 30%);
}

#notification {
    pointer-events: none;

    position: absolute;
    top: 100%;
    left: 50%;

    opacity: 0.8;

    transition: 0.7s top ease;
}

#notification-text-title {
    position: relative;
    top: 25%;

    font-family: AdvoCut, sans-serif;
    font-size: 20px;
    color: #45ebfc;
    text-align: center;
    text-shadow: 2px 2px #0e0a00;
}

#notification-text-description {
    position: relative;
    top: 25%;

    margin-top: 10px;

    font-family: AdvoCut, sans-serif;
    font-size: 14px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px #0e0a00;
}

@each $size, $i in media.$sizes {
    @media ($size) {
        #notification {
            width: 216px * $i;
            height: 34px * $i;
            margin-left: -108px * $i;
            background: url('/img/#{$i}/spritesheet.png') no-repeat;
        }

        #question,
        #exclamation {
            position: relative;
            display: block;
            width: 15px * $i;
            height: 16px * $i;
        }

        #question {
            background: url('/img/#{$i}/containers.png') -349px * $i -47px * $i;
        }

        #exclamation {
            background: url('/img/#{$i}/containers.png') -334px * $i -47px * $i;
        }

        #message {
            width: 120px * $i;
            height: 23px * $i;
        }
    }
}

@media (--lg) {
    #notification {
        margin-left: -344px;
    }
}

@media (--md) {
    #notify,
    #confirm {
        width: 333px;
        height: 94px;
        background: url('/img/2/containers.png') -601px 0;
    }

    #notification-text-title {
        font-size: 18px;
    }

    #notification-text-description {
        font-size: 12px;
    }

    #cancel {
        width: 40px;
        height: 14px;
        background: url('/img/2/containers.png') -601px -108px;

        &:hover,
        &:focus {
            background-position-y: -94px;
        }
    }

    #message {
        width: 240px;
        height: 46px;
    }
}

@media (--sm) {
    #notification {
        width: 432px;
        height: 68px;
        margin-left: -216px;
        background: url('/img/2/spritesheet.png') no-repeat;
    }

    #notify,
    #confirm {
        width: 166px;
        height: 47px;
        background: url('/img/1/containers.png') -300px 0;
    }

    #cancel {
        top: 55%;
        left: 75%;

        width: 14px;
        height: 14px;

        background: url('/img/1/containers.png') -371px -79px;

        &:hover,
        &:focus {
            background-position-x: -65px;
        }
    }
}
