@use '../../abstracts/media';

#notify,
#confirm {
    pointer-events: auto;
    position: absolute;
    left: 35%;
    display: none;
}

#exclamation,
#question {
    top: 30%;
    left: 10%;
}

.done {
    position: absolute;
    top: 70%;
    left: 85%;
}

#cancel {
    position: absolute;
    top: 70%;
    left: 70%;
}

#message {
    pointer-events: none;
    position: absolute;
    top: 48%;
    left: 42%;
}

.fade {
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 98%;

    background-color: rgb(0 0 0 / 30%);
}

#notification {
    pointer-events: none;

    position: absolute;
    bottom: -6em;
    left: 50%;

    display: flex;
    flex-direction: column;
    gap: 0.2em;

    width: 14em;
    height: 6em;
    margin-left: -7em;
    padding: 1em;
    padding-top: 1.5em;

    opacity: 0.8;
    border-image-width: 1em 1em 0 1em;

    transition: 0.7s bottom ease;
}

#notification-text-title {
    position: relative;

    font-family: Fibberish;
    color: #45ebfc;
    text-align: center;
    text-shadow: 0.125em 0.125em #0e0a00;
}

#notification-text-description {
    position: relative;

    font-size: 1em;
    color: #eee;
    text-align: center;
    text-shadow: 0.05em 0.075em #0e0a00;
}
