@use '../../abstracts/media';

@keyframes flash {
    0% {
        background: #ffa2a2;
    }

    100% {
        background: #e22525;
    }
}

@keyframes flash-green {
    0% {
        background: #a2ffa2;
    }

    100% {
        background: #25e225;
    }
}

@keyframes flash-poison {
    0% {
        background: #42e373;
    }

    100% {
        background: #146e2b;
    }
}

#health,
#mana {
    cursor: url('/img/hand.png'), auto;
    position: absolute;
}

#health-mask,
.health-mask-poison,
.health-mask-white,
#mana-mask {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: 0.5s width ease;
}

#player-info {
    position: absolute;
    top: 10px;
    left: 10px;
}

.health-text,
.mana-text {
    position: absolute;
    z-index: 5;

    width: 100%;

    font-family: AdvoCut, sans-serif;
    color: white;
    text-align: center;
    vertical-align: middle;
}

#exp {
    /* Safari 5.1, Chrome 10+ */
    background: linear-gradient(to left, #4f4, #080);
    transition: 0.5s width ease;
}

#health.white {
    animation: flash 0.5s linear infinite;
}

#health.green {
    animation: flash-green 0.5s linear infinite;
}

#health.poison {
    animation: flash-poison 0.5s linear infinite;
}

@each $size, $i in media.$b-sizes {
    @if $i == 3 {
        $i: 3.75;
    }

    @media ($size) {
        #health, #health-mask {
            width: 63px * $i;
            height: 15px * $i;
        }

        #mana, #mana-mask {
            width: 56px * $i;
            height: 11px * $i;
        }

        #health {
            background: url('/img/interface/bars.png') no-repeat;
            background-size: calc(width('bars.png') * $i);
        }

        #health-mask {
            background: url('/img/interface/bars.png') 0 -32px * $i no-repeat;
            background-size: calc(width('bars.png') * $i);
        }

        .health-mask-poison {
            background: url('/img/interface/bars.png') 0 -64px * $i no-repeat !important;
            background-size: calc(width('bars.png') * $i) !important;
        }

        .health-mask-white {
            background: url('/img/interface/bars.png') 0 -80px * $i no-repeat !important;
            background-size: calc(width('bars.png') * $i) !important;
        }

        #mana {
            top: 12px * $i;
            left: 3px * $i;
            background: url('/img/interface/bars.png') 0 -16px * $i no-repeat;
            background-size: calc(width('bars.png') * $i);
        }

        #mana-mask {
            background: url('/img/interface/bars.png') 0 -48px * $i no-repeat;
            background-size: calc(width('bars.png') * $i);
        }
    }

    @media (--lg) {
        .health-text {
            top: 17px;
        }
    }

    @media (--md) {
        .health-text {
            top: 8px;
        }

        .mana-text {
            top: -1px;
        }

        .health-text,
        .mana-text {
            font-size: 11px;
        }
    }
}
