@use '../../abstracts/media';
@use '../../abstracts/sprite';

#profile-container {
    right: 4em;
}

#state-page {
    .profile-info {
        text-align: center;
    }

    .profile-item {
        position: absolute;
        width: 2em;
        height: 2em;
        padding: 0.25em;

        &-image {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
}

#attack-style-list {
    display: flex;
    justify-content: space-evenly;
}

#state-page,
#skills-page,
#abilities-page {
    position: absolute;
    inset: 0;

    display: none;

    box-sizing: border-box;
    height: 17em;
    padding: 1.5em 1em 0.5em;
}

#helmet-slot {
    top: 7em;
    left: 5em;
}

#pendant-slot {
    top: 8.25em;
    left: 1.25em;
}

#arrows-slot {
    top: 8.25em;
    left: 8.75em;
}

#arrows-count {
    position: absolute;
    top: -1em;
    left: 0;

    width: 2em;

    text-align: center;
}

#chestplate-slot {
    top: 9.5em;
    left: 3.75em;
}

#weapon-slot {
    top: 9.5em;
    left: 6.25em;
}

#shield-slot {
    top: 10.75em;
    left: 9em;
}

#armour-skin-slot {
    top: 12em;
    left: 3.75em;
}

#weapon-skin-slot {
    top: 12em;
    left: 6.25em;
}

#ring-slot {
    top: 10.75em;
    left: 1em;
}

#legplates-slot {
    top: 13.25em;
    left: 1.25em;
}

#cape-slot {
    top: 13.25em;
    left: 8.75em;
}

#boots-slot {
    top: 14.5em;
    left: 5em;
}

@include sprite.sheet(
    $image: 'main',
    $y: 104,
    $width: 14,
    $height: 15,
    $hover: 1,
    $active: 2,
    $selectors: #guilds-button
) {
    position: absolute;
    z-index: 1;
    bottom: -2em;
    left: 1em;
}

@include sprite.sheet(
    $image: 'main',
    $y: 89,
    $width: 14,
    $height: 15,
    $hover: 1,
    $active: 2,
    $selectors: #leaderboards-button
) {
    position: absolute;
    z-index: 1;
    right: 1em;
    bottom: -2em;
}

#profile-navigator {
    position: absolute;
    bottom: 1em;
    left: 0;

    display: flex;
    justify-content: center;

    width: 100%;
}

@include sprite.sheet(
    $image: 'characterdialogsheet',
    $x: 384,
    $y: 256,
    $width: 23,
    $height: 31,
    $scale: 1.5,
    $gap: 2,
    $hover: 1,
    $active: 2,
    $selectors: '.attack-style-box'
) {
    display: flex;
    justify-content: center;
    padding-top: 0.875em;
}

@include sprite.sheet(
    $image: 'characterdialogsheet',
    $x: 384,
    $y: 224,
    $width: 17,
    $height: 17,
    $gap: 2,
    $scale: 1.5,
    $rows: false,
    $selectors: (
        '.attack-style-stab',
        '.attack-style-slash',
        '.attack-style-defensive',
        '.attack-style-crush',
        '.attack-style-shared',
        '.attack-style-hack',
        '.attack-style-chop',
        '.attack-style-accurate',
        '.attack-style-fast',
        '.attack-style-focused',
        '.attack-style-longrange'
    )
);

@include sprite.sheet(
    $image: 'characterdialogsheet',
    $y: 223,
    $width: 21,
    $height: 17,
    $rows: false,
    $disabled: 1,
    $selectors: (
        '.previous',
        '.next'
    )
);
