@use '../../abstracts/media';

#quests {
    display: none;
}

#quests-container {
    display: flex;
    gap: 0.5em;
    height: 100%;
}

#quests-list {
    flex: 3;

    ul {
        overflow: hidden auto;
        display: flex;
        flex-flow: column;
        gap: 0.25em;

        height: 100%;
        padding-right: 0.25em;

        li {
            flex-shrink: 0;
        }
    }
}

#quests-logs {
    flex: 2;
}

#quests-logs-container {
    overflow: auto;
    height: 100%;

    h1 {
        font-size: 1em;
    }

    p {
        margin: 0.25em;
        font-size: 0.75em;
    }
}
