@use '../../abstracts/media';

#quests-container {
    display: flex;
    gap: 0.5em;
    height: 100%;
}

#quests-list {
    flex: 3;

    ul {
        overflow: auto;
        height: 100%;
    }
}

#quests-logs {
    flex: 2;
}

#quests-logs-container {
    overflow: auto;
    height: 100%;
}

.quests-logs-h1 {
    font-size: 150%;
    color: white;
    text-align: left;
}

.quests-logs-p {
    color: white;
}
