@use '../../abstracts/media';

#settings-page {
    display: none;

    label {
        display: flex;
        flex-flow: row;
        align-items: center;
        padding: 0.25em 0;

        span,
        input {
            flex: 1;
        }

        span {
            font-size: 0.75em;
        }
    }
}

#settings-container {
    display: flex;
    gap: 0.5em;
    height: 100%;
}

#input-settings,
#action-settings {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#input-settings {
    flex: 5;
    padding: 0.75em 1em;
}

#action-settings {
    flex: 2;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
}

#game-info {
    display: flex;
    flex: 1;
    flex-flow: column;
    width: 100%;

    strong,
    span {
        font-size: 0.75em;
    }
}
