@use '../../abstracts/media';

#sliders {
    position: absolute;
    top: 15%;
    right: 10%;

    float: right;
}

#texts {
    position: absolute;
    top: 15%;
    left: 10%;

    float: left;

    font-family: AdvoCut, sans-serif;
}

#info {
    position: absolute;
    top: 78%;

    width: 100%;
    height: 8%;

    text-align: center;
}

#check-marks {
    position: absolute;
    top: 41%;
    right: 10%;

    float: right;
}

#volume,
#sfx,
#brightness {
    position: absolute;
}

#sound-check,
#low-power-check,
#debug-check,
#centre-check,
#name-check,
#level-check {
    left: 50%;
}

@each $size, $i in media.$sizes {
    @media ($size) {
        #sliders {
            width: 40px * $i;
            height: 30px * $i;
        }

        #volume {
            top: 1px * $i;
        }

        #sfx {
            top: 20px * $i;
        }

        #brightness {
            top: 41px * $i;
        }

        #check-marks {
            width: 40px * $i;
            height: 120px * $i;
        }

        #texts {
            width: 60px * $i;
            height: 100px * $i;

            font-size: 8px * $i;

            p {
                margin-bottom: 12px * $i;
            }
        }

        #sound-check {
            top: 3px * $i;
        }

        #low-power-check {
            top: 23px * $i;
        }

        #debug-check {
            top: 44px * $i;
        }

        #name-check {
            top: 62px * $i;
        }

        #level-check {
            top: 82px * $i;
        }
    }
}

@media (--sm) {
    #settings-page {
        right: 31px;
        bottom: 99px;
        transform: scale(1.5);
    }

    #texts {
        top: 15%;
    }
}
