@use '../../abstracts/media';

#settings-page {
    display: none;
    padding: 1em;

    #settings-container {
        display: flex;
        gap: 2em;
        height: 100%;
    }

    #input-settings,
    #action-settings {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5em 1em;
    }

    #input-settings {
        flex: 3;
        gap: 0;
        padding: 0 1em;
    }

    #action-settings {
        flex: 1;
        align-items: end;
        justify-content: end;
    }

    label {
        display: flex;
        flex-direction: row;

        padding: 0.25em 0;

        font-family: AdvoCut, sans-serif;
        color: #eee;

        span,
        input {
            flex: 1;
        }
    }
}

@each $size, $i in media.$container-sizes {
    @media ($size) {
        #settings-page {
            width: 240px * $i;
            height: 116px * $i;
            font-size: 6px * $i;
        }
    }
}
