@use '../../abstracts/media';

#settings-page label {
    display: flex;
    flex-direction: row;
    padding: 0.25em 0;

    span,
    input {
        flex: 1;
    }
}

#settings-container {
    display: flex;
    gap: 0.5em;
    height: 100%;
}

#input-settings,
#action-settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#input-settings {
    flex: 5;
    padding: 0.75em 1em;
}

#action-settings {
    flex: 2;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
}

#game-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

@each $size, $i in media.$container-sizes {
    @media ($size) {
        #settings-page {
            width: 240px * $i;
            height: 116px * $i;
            font-size: 6px * $i;
        }
    }
}
