@use '../../abstracts/media';

#store {
    cursor: url('/img/3/hand.png'), auto;

    position: absolute;
    top: 17%;
    left: 50%;

    display: none;
}

#store-inventory-container {
    position: absolute;
    top: 0;
    right: 100%;
}

#store-container {
    position: absolute;
    top: 8%;
    left: 8%;

    overflow-y: scroll;

    font-family: AdvoCut, sans-serif;

    ul li {
        margin-bottom: 5px;

        &:first-child {
            margin-top: 5px;
        }
    }
}

#store-inventory-slots {
    left: 14%;
}

#store-sell-slot-return-text,
#store-sell-slot-text,
#shards-count {
    color: black;
}

#confirm-enchant,
#confirm-sell {
    top: 80%;
    left: 70%;
}

.store-item-image {
    position: relative;
    width: 32px;
    height: 32px;
    background-size: 600%;
}

.store-item-name,
.store-item-count,
.store-item-price {
    position: relative;
    font-family: AdvoCut, sans-serif;
    font-size: 12px;
    color: #fff;
}

.store-item-name {
    float: left;
}

.store-item-count,
.store-item-price {
    float: right;
}

@each $size, $i in media.$sizes {
    @media ($size) {
        #store {
            width: 170px * $i;
            height: 168px * $i;
            background: url('/img/#{$i}/containers.png') -129px * $i -22px * $i;
        }

        #store-container {
            width: 146px * $i;
            height: 134px * $i;
        }

        #store-inventory-container {
            width: 129px * $i;
            height: 155px * $i;
            background: url('/img/#{$i}/containers.png') 0 0;
        }

        #store-sell-slot,
        #store-sell-slot-return {
            position: absolute;
            top: 123px * $i;

            width: 16px * $i;
            height: 16px * $i;

            background-size: 600%;
        }

        #store-sell-slot {
            left: 14px * $i;
        }

        #store-sell-slot-return {
            left: 44px * $i;
        }

        .store-item {
            width: 136px * $i;
            height: 22px * $i;
            margin-left: 4px * $i;
            background: url('/img/#{$i}/containers.png') -352px * $i -112px * $i;

            &:hover {
                background-position-y: -134px * $i;
            }

            &:active {
                background-position-y: -156px * $i;
            }
        }

        .store-item-name,
        .store-item-count,
        .store-item-price {
            bottom: 2px * $i;
            font-size: 18px;
        }

        .store-item-name {
            left: 28px * $i;
        }

        .store-item-count {
            right: 32px * $i;
        }

        .store-item-price {
            right: 8px * $i;
        }

        .store-item-image {
            top: 5px * $i;
            left: 5px * $i;
        }
    }

        
    @media (--lg) {
        // .store-item-name,
        // .store-item-count,
        // .store-item-price {
        //     font-size: 14px;
        // }

        // .store-item-image {
        //     transform: scale(1.5);
        // }
    }

    @media (--md) {
        .store-item-image {
            top: 6px;
            left: 6px;
        }

        .store-item-name,
        .store-item-count,
        .store-item-price {
            bottom: 16px;
            font-size: 14px;
        }
    }

    @media (--sm) {
        #store {
            top: 30%;
            left: 55%;
            transform: scale(1.7);
        }

        .store-item-image {
            top: 3px;
            left: 3px;
            width: 16px;
            height: 16px;
        }

        .store-item-name,
        .store-item-count,
        .store-item-price {
            bottom: 8px;
            font-size: 7px;
        }
    }

}