@use '../../abstracts/media';

#trade-container {
    cursor: url('/img/3/hand.png'), auto;

    position: absolute;
    inset: 0;

    display: none;

    margin: auto;
}

#close-trade {
    left: 98% !important;
}

#trade-inventory-slots,
#trade-player-slots,
#trade-oplayer-slots {
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            float: left;
        }
    }
}

#trade-player-name,
#trade-oplayer-name,
#trade-status {
    position: absolute;
    font-family: AdvoCut, sans-serif;
    color: white;
    text-align: center;
}

@each $size, $i in media.$sizes {
    @media ($size) {
        #trade-container {
            width: 379px * $i;
            height: 170px * $i;
            background: url('/img/#{$i}/trade.png') 0 0 no-repeat;
        }

        #trade-inventory-slots {
            top: 16px * $i;
            left: 20px * $i;
            width: 96px * $i;
            height: 90px * $i;
        }

        #trade-player-slots {
            top: 40px * $i;
            left: 148px * $i;
        }

        #trade-oplayer-slots {
            top: 40px * $i;
            left: 268px * $i;
        }

        #trade-player-slots,
        #trade-oplayer-slots {
            width: 102px * $i;
            height: 92px * $i;
        }

        #trade-inventory-slots,
        #trade-player-slots,
        #trade-oplayer-slots {
            ul {
                li {
                    .item-slot {
                        margin-bottom: 4px * $i;
                    }
                }
            }
        }

        #trade-player-slots,
        #trade-oplayer-slots {
            ul {
                li {
                    .item-slot {
                        margin-bottom: 4px * $i;
                    }
                }
            }
        }

        #trade-oplayer-slots {
            ul {
                li {
                    .item-slot {
                        pointer-events: none;
                    }
                }
            }
        }

        #trade-player-name,
        #trade-oplayer-name {
            top: 13px * $i;
            width: 104px * $i;
            height: 10px * $i;
            font-size: 10px * $i;
        }

        #trade-status {
            top: 27px * $i;
            right: 22px * $i;

            width: 208px * $i;
            height: 10px * $i;

            font-size: 6px * $i;
        }

        #trade-player-name {
            left: 140px * $i;
        }

        #trade-oplayer-name {
            left: 263px * $i;
        }

        #trade-accept {
            right: 77px * $i;
            bottom: 7px * $i;
        }
    }
}


@media (--sm) {
    #trade-inventory-slots {
        top: 16px;
        left: 10px;
        width: 106px;
        height: 90px;
    }

    #trade-player-slots,
    #trade-oplayer-slots {
        top: 40px;
    }

    #trade-player-slots {
        left: 140px;
    }

    #trade-oplayer-slots {
        left: 260px;
    }

    #trade-player-slots,
    #trade-oplayer-slots {
        width: 106px;
        height: 92px;
    }

}