@use '../../abstracts/media';

#trade {
    cursor: url('/img/3/hand.png'), auto;

    position: absolute;
    inset: 0;

    display: none;

    margin: auto;
}

#close-trade {
    left: 98% !important;
}

@each $size, $i in media.$sizes {
    @media ($size) {
        #trade {
            width: 379px * $i;
            height: 170px * $i;
            background: url('/img/#{$i}/trade.png') 0 0 no-repeat;
        }
    }
}

