#trade {
    position: absolute;
    inset: 0;

    display: none;

    margin: auto;
}

#trade-player-container,
#trade-o-player-container {
    position: relative;
    top: 24%;

    float: left;
}

#trade-player-container {
    left: 5%;
}

#trade-o-player-container {
    left: 12.5%;
}

@media (--md) {
    #trade {
        width: 500px;
        height: 339px;

        background: url('/img/2/trade.png') 0 0;
    }

    #trade-player-container,
    #trade-o-player-container {
        width: 206px;
        height: 186px;
    }
}
