# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Kaetram-Open CI

on: [push, pull_request]

jobs:
    build:
        strategy:
            matrix:
                # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
                node-version: [14.x, 16.x, 18.x]
                os: [ubuntu-latest, windows-latest, macos-latest]

        name: Node.js ${{ matrix.node-version }} on ${{ matrix.os }}

        runs-on: ${{ matrix.os }}

        steps:
            - name: Checkout on ${{ runner.os }}
              uses: actions/checkout@v3

            - name: Use Node.js v${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'yarn'

            - name: Install Dependencies
              run: yarn install

            - name: Build Packages
              run: yarn build
